[2013-11-18 23:01] daniel-hopkins opened #26 "replace noscript on main_product_image?"
@drbyte Now that you guys are utilizing modernizr and loading jquery by default, have you looked into replacing the old document.write and noscript code on the main_product_image page?

This is by no means ready for a pull request, but this is a _quick_ [proof of concept](https://github.com/niestudio/zc-v1-series/commit/524cb1bfa7333ad4b505504c49ba255d6fad0923) at a more modern alternative. That w

[2013-11-20 17:30] #26 closed, assigned to nobody

[2013-12-09 20:11] daniel-hopkins opened #34 "Foundation Admin?"
Hi,
I noticed you have enabled Zurb foundation during the setup of V160.
Do you have plans for updating the entire admin with Foundation?

I took some time and started it myself so that maybe we can get a dialog going, or some help converting the admin.
So far I have just done the main menu, and the configuration.php page.
Have a look **[here](https://github.com/daniel-hopkins/zc-v1-series/tree/fo

[2013-12-17 19:07] drbyte opened #35 "Bring default country-address-format assignments up to date"
Many built-in country records have a default address-format assignment of '1' which is not always correct.

We welcome input for updates, but with your update recommendation, please provide a URL to a website which offers official confirmation of the correct format you're proposing.

We'll happily incorporate updates which can be officially confirmed.

Thanks!

[2013-12-19 15:52] #34 closed, assigned to nobody

[2014-01-16 08:07] torvista opened #40 "admin->layout_controller.php hardcoded text"
<strong>Boxes Path: </strong>

[2014-04-24 02:34] robryanx opened #43 "zen_draw_hidden_field - when passing empty value"
This probably affects a lot of things so won't attempt to submit a fix but just thought I would bring this to your attention.

I notice that when you pass an empty value to zen_draw_hidden_field it attempts to use the value of $GLOBALS[$name] instead.

The problem is that there is no difference in handling for passing an empty value and passing no value. I note that the other form functions solve

[2014-06-01 03:37] texdc opened #51 "Admin: password_needs_rehash() always returns true under PHP5.5"
I'm not able to log in to my local dev environment under `PHP5.5` because my password is constantly re-hashed.

[admin/includes/functions/admin_access.php line #327](https://github.com/zencart/zc-v1-series/blob/v160/admin/includes/functions/admin_access.php#L327)

[code]

[2014-06-01 14:41] #40 closed, assigned to nobody

[2014-06-01 18:07] #51 closed, assigned to nobody

[2014-06-23 21:41] damon18 opened #56 "Include Ty Package Tracker Functionality"
Feature Request for 1.6

Expand and improve the customer orders administration by including the features of the Ty Package Tracker into Zen Cart core.

I had noticed that COWOA is now included so I'm hoping there is a chance for package tracking. These two modules are both tedious to install and complicate upgrades, but the functionality is very desirable to many  sites.

Thanks for considering.

[2014-07-04 00:24] zcwilt opened #57 "Developer Mode for Installer"
Currently the installer renames the admin directory to a long random string, This can be a pain when developing code in git, as it means you have to remember to rename it back to admin to avoid git seeing the renamed admin as new code.

Adding a developer mode to the installer would mitigate against this. Further we could allow for the installer to choose a simple consistent password, to save the

[2014-07-04 01:38] #57 closed, assigned to zcwilt

[2014-07-08 18:12] zcwilt opened #59 "insecure content warnings on various admin pages"
Example
The page at https://zen.local/v160/admin/languages.php?page=1&lID=1 displayed insecure content from http://zen.local/v160/includes/languages/english/images/icon.gif.

Also happens on other pages :-
e.g. Category, Product, Manufacturer, Banner popups, Extras Menu for Record Artists etc

Problem is caused by the use of zen_image function and the use of DIR_WS_CATALOG.. defines, which use HTT

[2014-07-08 18:21] zcwilt opened #60 "211797: Add notifier to specials, salemaker, and featured product functions"
Original discussion here.
http://www.zen-cart.com/showthread.php?211797-Add-notifier-to-specials-salemaker-and-featured-product-functions

[2014-07-08 18:24] zcwilt opened #61 "210804: Update of session variables from editing account/primary address book details"
Original discussion here
http://www.zen-cart.com/showthread.php?210804-Update-of-session-variables-from-editing-account-primary-address-book-details

[2014-07-08 20:23] #43 closed, assigned to drbyte

[2014-07-08 20:34] zcwilt opened #63 "LEAD Pages for Admin"
In the admin backend, we have a lot of pages which do basic CRUD management of a database table.

Examples would be
Languages, Currencies, Order Statuses, Zones, Tax Classes, Record Artists etc,

The current CRUD type pages are a horrible mix of procedural code and html, and creating new pages is a horrible mix of copy/paste hunt and update.

The new LEAD pages introduce a consistent class based s

[2014-07-08 20:49] zcwilt opened #64 "Classes should ultimately extend base"
ISSUE-111

Classes should ultimately extend the base class in order to take advantage of the observer/notifier stuff, unless there is a very good reason not to.

[2014-07-08 20:58] zcwilt opened #65 "zcRequest Class - Conversion of $_GET & $_POST references"
ISSUE-99

This should not just be a matter of simple conversion. Currently we have a huge big ass array denoting the fields to be sanitized, when really each individual page should define the sanitization it needs.

See also http://www.zen-cart.com/showthread.php?200835-No-Self-Referential-Canonical-Links
which suggests we need  to make the request class act a bit more like symfony/laravel do.
e.g

[2014-07-08 21:14] zcwilt opened #66 "Use of $PHP_SELF in admin links"
ISSUE-115
With the move to admin action classes, self referential links in admin shouldn't use $PHP_SELF, and rather use the $_GET['cmd']

One example is the admin_activity page which does
if (isset($_SESSION['reset_admin_activity_log']) and ($_SESSION['reset_admin_activity_log'] == true and (basename($PHP_SELF) == FILENAME_DEFAULT . '.php'))) {

[2014-07-08 22:25] zcwilt opened #67 "Multiple languages create debug logs in new language"
ISSUE-105

Add French language and when in French, any navigation in Admin generates debug log:
[21-May-2014 16:09:13 UTC] PHP Warning: htmlspecialchars(): charset `CHARSET' not supported, assuming iso-8859-1 in /v153/admin2/includes/functions/general.php on line 39
[21-May-2014 16:09:13 UTC] PHP Warning: htmlspecialchars(): charset `CHARSET' not supported, assuming iso-8859-1 in /v153/admin2/incl

[2014-07-09 03:16] zcwilt opened #69 "product_type parameter in admin is not validated properly"
if the GET parameter for product_type is altered to use an out of range value, the code still does the look up but returns a blank hander name. It then attempts to load product handler code based on an incorrect path.

[2014-07-09 16:41] zcwilt opened #72 "Collaboration"
@zencart/contributors
You may have noticed that you have been added to a Zen Cart Team organization on Github.

The main reason for doing this, is so that you can 'assign' yourself to an issue, or someone else in the collaboration team can assign you.

We are currently in the process of moving issues from out internal JIRA server to github.
Note, that this doesn't mean you can't create your own is

[2014-07-09 16:49] ajeh opened #73 "ot_gv has a redundant configuration setting for order-status; needs to be removed"
MODULE_ORDER_TOTAL_GV_ORDER_STATUS_ID is redundant -- never used anywhere. Needs to be removed.

Instead, the setting which rules is DEFAULT_ZERO_BALANCE_ORDERS_STATUS_ID, from the configuration menu.

New Key also need to be added to allow Gift Voucher to be placed on Special.

[2014-07-09 21:45] ajeh opened #75 "CHANGE-293 198931: While editing product, Product Qty Units displays as 1 if it is 0 on the database"
CHANGE-293 198931: While editing product, Product Qty Units displays as 1 if it is 0 on the database

This was scheduled for v2.0 needs to be done in v16

[2014-07-09 21:50] zcwilt opened #76 "Debug logs widget - make log entries clickable"
clicking should then show the actual log entries, either in a modal or a new page

[2014-07-10 03:47] ajeh opened #78 "Remove Attributes Preview Incomplete"
CHANGE-719 - Remove non-working attributes-preview option from admin
This is incomplete. When a Product has an Attribute and you hit A for Attributes you have a choice of Preview and Attributes Controller, in addition to other Attribute features.
Both the Preview and Attributes Controller does the same thing.
Preview button should either be:
1 Removed
2 open a new window to the Catalog of the Prod

[2014-07-10 04:48] zcwilt opened #79 "Documentation"
@zencart/contributors

Currently we have some developer documentation in our confluence server
https://confluence.zen-cart.com/display/PUBDOC/Developer+Documentation+v1.6

The problem here, is that confluence does not easily allow for input from other contributors.

So, the plan is to use [Sphinx](http://sphinx-doc.org) to build our documentation, then host it on [readthedocs.org](readthedocs.org)

[2014-07-10 19:43] texdc opened #81 "Tag recent releases"
Tag the master branch for at least `v1.5.3` so we have a stable reference for bug-fixes.

[2014-07-12 17:15] ajeh opened #85 "shipping quotes that need value of shipping"
Shipping calculation for:
shipping quotes that need value of shipping content should not include:
virtual, gift certificates or downloads
calculate amount not to be insured on shipping

Needs adjustment to manage Products with Attributes where Attributes have downloads or weight that affect the amount that is used for insurance quotes based on Product shipped.

[2014-07-12 18:19] #78 closed, assigned to drbyte

[2014-07-12 20:50] ajeh opened #87 "Incorrect results on download check Admin"
Catalog: CHANGE-687: Incorrect results on download check done
Admin: same change needed

[2014-07-12 21:58] ajeh opened #89 "Required Text accepting spaces"
Required Text accepting spaces when marked Required.

[2014-07-12 22:31] #85 closed, assigned to ajeh

[2014-07-12 22:35] zcwilt opened #91 "Tidy up zen_has_product_attributes_downloads_status"
See #87

[2014-07-12 22:39] #87 closed, assigned to ajeh

[2014-07-12 22:40] #89 closed, assigned to ajeh

[2014-07-13 01:12] #81 closed, assigned to zcwilt

[2014-07-13 01:14] #73 closed, assigned to ajeh

[2014-07-15 04:13] #91 closed, assigned to nobody

[2014-07-15 16:09] drbyte opened #99 "zc_install - things to fix"
A few things noted for zc_install:
- [x] modal for progress-bar doesn't open in blocking mode, so can click elsewhere on the screen to close it prematurely
- [x] help text missing for some entries
- [x] help text doesn't fire on db-upgrade screen
- [x] hard-coded alert messages need to be split off for multilanguage support
- [x] if upgrading from 139 to 150 no profiles are assigned, so must set a

[2014-07-15 20:23] ajeh opened #101 "Large sites and SaleMaker vs Specials"
Large sites with large numbers of Categories and/or Products have issues with SaleMaker and difficulties in adding Specials.

Adding methods for Global creation/deletion of Specials by Categories, with/without subcategories and by Manufacturer will help to manage this better.

[2014-07-16 05:14] zcwilt opened #103 "Contributing"
I was initially going to add this to the Documentation issue, but thought it needed a issue of its own

I'm currently trying to write some docs related to how people can contribute to Zen Cart, either through code or documentation . However those processes should not be something I (or the ZC Team) just produce ex nihlo. While I & the other core team members certainly have some ideas about contrib

[2014-07-16 17:03] #101 closed, assigned to ajeh

[2014-07-17 02:08] zcwilt opened #106 "Pull requests and v1.5.4"
Currently we are not accepting pull requests against v1.5.4. There are a number of reasons for this.

The current v1.5.4 code is currently with our QSA for PA-DSS pen testing. If it passes those tests, which we are confident of, then it will move to release status.
We cannot at this point change the code without re-submitting.

Even after 1.5.4 is released and PA-DSS certified we are limited to th

[2014-07-17 04:08] #99 closed, assigned to nobody

[2014-07-17 05:09] ajeh opened #107 "Fix Trim text on required attributes test"
Fix TEXT test on required attributes test to only perform trim on actual TEXT attribute when  attributes_required is 1 to prevent customer from using spaces on required TEXT

[2014-07-18 02:18] #107 closed, assigned to nobody

[2014-07-18 14:21] texdc opened #109 "[v1.6] 3rd-Party dependencies"
[Composer](https://getcomposer.org/) is a great tool for managing external dependencies.  However, as previously mentioned, there is an [outstanding security bug](https://github.com/composer/composer/issues/1074) which makes it unusable in a production environment.  (I still recommend using it in dev/test environments).

Instead of committing the source of external libraries, like `Aura.Autoload`,

[2014-07-19 04:09] ajeh opened #110 "Discount Coupon exception to exclude specials and sales"
Add ability to control if Products with Sales (specials or sales) are allowed on a per Discount Coupon basis.

[2014-07-22 00:17] jpliew opened #112 "1.5.3 hotfix1, admin / includes / init_includes / init_currencies.php require missing class.currencies.php"
Guys,
I am not sure if this has been reported, if yes please close this issue.

In the code,
  require(DIR_FS_CATALOG . DIR_WS_CLASSES . 'class.currencies.php');

there is no class.currencies.php in the distribution.

[2014-07-27 19:48] #110 closed, assigned to nobody

[2014-07-27 20:14] ajeh opened #113 "Fix CHANGE-662"
Fixes missing echo

[2014-07-28 17:40] #113 closed, assigned to nobody

[2014-08-06 22:16] #72 closed, assigned to zcwilt

[2014-08-17 13:20] ajeh opened #130 "Add method to obtain product quantity in cart regardless of attributes"

[2014-08-20 17:20] #130 closed, assigned to nobody

[2014-08-26 14:28] zcwilt opened #138 "Optional (manually by user) Loading of additional SQL files in Installer post-install"
Allow for optional loading of SQL install files. This would encompass things like Zones/Geo Zones etc.
e.g. see https://github.com/zencart/zc-v1-series/pull/129

This would allow for not bloating the base installation sql, but also allow the store owner to add region data that is specific to their locale.

Some thought needs to be given to the UI, so that we do not introduce more complexity into t

[2014-08-26 20:56] bislewl opened #139 "Notifiers In Admin"
I think it would be helpful if the notifiers were also in the Admin. This could be helpful for a variety of modules and creating new modules.

[2014-08-28 20:15] zcwilt opened #140 "Change button type to use Foundation for pr #121"
pr #121 is using a standard ZC image button. Once foundation integration or admin has progressed further, change the button to use Foundation. Allowing for simple language control of the button text.

[2014-08-29 17:19] IronLady opened #141 "Entypo character missing"
Some Entypo character is missing only on Chrome 36 under Windows. IE and Firefox is fine.
It may related to https://github.com/fontello/fontello/issues/255

I think it's better if we choose better options like fontawesome, ion-icons, etc.

[2014-08-29 22:02] texdc opened #143 "Namespacing and Architecture"
In regards to #142, please don't use `core` as an organization term.  It's synonymous with `shared`, `common`, and `kernel` and implies a kitchen-sink, dump-everything-here location.  There is a need to organize code that is shared by both catalog and admin, and I've been meaning to bring this up for discussion since namespacing was introduced.

My recommendation is the following primary namespace

[2014-09-01 14:06] bislewl opened #144 "Admin TITLE tags"
I think it would be incredibly helpful to store owners to have the name of the of the page in the title tag, so they can go back quickly.

Examples might be:
Configuration - Stock
Shipping - USPS
Define Pages - Main Page
EZ Pages - Shipping

[2014-09-18 19:24] #141 closed, assigned to nobody

[2014-09-20 17:43] ajeh opened #172 "Navigation Issue on Product Listing with 1 Product on last page"
There is a navagation issue on the Product Listing when there is only 1 Product left on the last page.

Select a Category that will leave 1 Product on the last page and navigate to the last page. You are immediately taken to product_info, rather than remaining in the Product Listing.

[2014-09-21 14:58] ajeh opened #175 "Products All and New Products issues on max display per page"
Products All products_all no longer uses MAX_DISPLAY_PRODUCTS_ALL to set the number of Products per page.

New Products products_new no longer uses MAX_DISPLAY_PRODUCTS_NEW to set the number of Products per page.

Products listing, New Products, Specials, Featured and All Products each have a separate setting for how many to display per page.

[2014-09-23 17:24] #172 closed, assigned to zcwilt

[2014-09-25 20:10] torvista opened #179 "login form id and name are not the same"
templates/tpl_login_default.php

<?php echo zen_draw_form('login', zen_href_link(FILENAME_LOGIN, 'action=process' . (isset($_GET['gv_no']) ? '&gv_no=' . $_GET['gv_no'] : ''), 'SSL'), 'post', 'id="loginForm"'); ?>

I understand the name and id should be the same.

[2014-09-29 00:27] drbyte opened #184 "Discussion: Stop making configure.php read-only?"
In modern-day hosting configurations, is it really beneficial to set configure.php to read-only anymore?

Isn't it more of a nuisance, rather than actually providing any meaningful security anymore?

It was originally implemented to protect (somewhat) against world-writable folder problems on servers built using last decade's defaults.

Is it really needed anymore?

(Since ZC v1.3.0 any click cata

[2014-09-29 00:58] bislewl opened #188 "Comment causing false positive on security scan"
\includes\modules\payment\authorizenet.php
LINE 138
is showing up in security scans for the word "Hacked" being present

[2014-09-29 01:12] ajeh opened #189 "DashBoard Widget errors new admin"
When I make a new Admin user and then logout and try to login as that new user I get the error:
[26-Sep-2014 10:33:59 America/New_York] PHP Catchable fatal error:  Argument 1 passed to ZenCart\Admin\DashboardWidget\WidgetManager::loadWidgetClasses() must be an array, null given, called in /home/username/public_html/subdirectory/admin/includes/classes/actions/admin/class.zcActionAdminIndex.php on l

[2014-09-30 19:53] ajeh opened #192 "Add a new Admin with blank mobile get 0"
New Admin added with a blank mobile places a 0 as the value.

[2014-10-01 23:12] bislewl opened #196 "Attributes - allow assignment of a Tax Class to attributes"
Attributes should be able to be assigned a tax class.
(ie: to allow setting them as taxable or non-taxable)

[2014-10-05 19:37] #188 closed, assigned to nobody

[2014-10-06 17:44] zcwilt opened #200 "Poor scoping in Admin Action classes causes error when multiple languages installed"
tplHeader directly addresses the $zcRequest variable when multiple languages are installed.
However on the home page which is served via an Action Class, $zcRequest is not in the global scope, as templates are rendered using a method of the ActionAdminBase class.

Need to add a template variable to pass in the current cmd param so this can be rendered correctly in the tplHeader template.

[2014-10-07 14:33] ajeh opened #203 "whos_online.php issues on links $listingURL $optURL"
Links using $listingURL $optURL need to be rebuilt for cmd

[2014-10-07 18:03] #200 closed, assigned to zcwilt

[2014-10-07 18:23] #192 closed, assigned to nobody

[2014-10-12 14:57] ajeh opened #206 "Odd debug error"
If I am logged in and sit on the shopping_cart page let the session time out then hit Shipping Estimator to get the Whoops message about the session timing out then hit Logout, a debug error is generated that reads:
[12-Oct-2014 10:54:26 America/New_York] PHP Warning:  array_rand(): Second argument has to be between 1 and the number of elements in the array in /home/ajeh/public_html/v16clean3/incl

[2014-10-20 08:53] #206 closed, assigned to nobody

[2014-10-20 13:41] bislewl opened #212 "autocomplete off"
It's not really an "issue" except on the login pages. But for PCI should autocomplete be turned off on fields when posting to HTTPS?

[2014-10-21 19:46] drbyte opened #213 "Validate STOCK_CHECK clause in shopping_cart page's header_php.php file"
lat9 post from http://www.zen-cart.com/showthread.php?214533-Validate-STOCK_CHECK-clause-in-shopping_cart
The test of the returned result doesn't match the return signature.

[2014-10-23 17:45] #213 closed, assigned to nobody

[2014-10-29 14:21] ajeh opened #217 "Customer Authorization and Customer Password email subject"
Customer Authorization and Customer Password reset are both using for the subject:
EMAIL_CUSTOMER_STATUS_CHANGE_SUBJECT

where there are two defines in the language file:
define('EMAIL_CUSTOMER_STATUS_CHANGE_SUBJECT', 'Account password reset');
define('EMAIL_CUSTOMER_STATUS_CHANGE_SUBJECT', 'Customer Status Updated');

[2014-10-29 20:12] zcwilt opened #218 "Discount Coupons and Shipping Cost"
The include shipping option for Discount Coupons is not working correctly for fixed value coupons.

i.e. regardless of setting the coupon will always discount the shipping when include shipping = false or true.

see http://www.zen-cart.com/showthread.php?209720-Discount-Coupon-not-excluding-Shipping-charges

[2014-10-30 17:28] #217 closed, assigned to nobody

[2014-11-04 20:19] #212 closed, assigned to nobody

[2014-11-04 20:21] #218 closed, assigned to nobody

[2014-11-15 14:32] lat9 opened #228 "Correct HTML validation errors"
The file /includes/templates/template_default/jscript/jscript_framework.php generates a validation error due to the missing **type=** tag.  Suggest changing line 9 from

`<script>`

to

`<script type="text/javascript">`

[2014-11-15 21:43] #228 closed, assigned to nobody

[2014-11-19 03:14] robryanx opened #229 "order_total collect_posts redirects before allowing validation of other errors"
I am wondering about the invalid coupon checking code under `collect_posts` in `ot_coupon`.
The redirect code prevents further `collect_posts` functions from being ran.

The example I have in this case is that we run coupon codes, rewards points and gift vouchers. Ideally you would have each run and determine whether there are any errors and then redirect back.

This is already somewhat covered in

[2014-11-19 04:22] robryanx opened #230 "PayPal express checkout possible issue when doing new purchase after checkout"
Sorry if this is incorrect, I am not 100% sure yet on all the ec internals.
Currently using ec when you reach the confirmation page the process_button function is ran to set $_SESSION['paypal_ec_markflow'] = 1;
I am unsure of the total function of this, but it serves to then pass a transaction straight through to checkout_process?

The issue is if a customer was then to exit the checkout and go ba

[2014-11-27 02:41] bislewl opened #234 "function plugin_version_check_for_updates"
In the new USPS module there is a new function that allows plugins to check if the plugin is up to date. Should this feature be added to the core?

[2014-11-27 05:55] #234 closed, assigned to nobody

[2014-11-30 21:19] bislewl opened #240 "Loading of CSS & JS files."
CSS/JS loader seems to help with the minify, and not loading unneeded files. However it is very difficult for most beginners to use, and isn't friendly with most templates. Anyone have thoughts about modifying the core for CSS/JS loading. I'm thinking perhaps instead of auto_loader files. Making it admin configurable. and simpler for people to use. (select which files load when). Adding the abilit

[2014-12-09 21:30] #112 closed, assigned to nobody

[2014-12-09 21:31] #65 closed, assigned to zcwilt

[2014-12-17 20:56] drbyte opened #249 "coupon_active relies only on db schema"
Creation of new coupons currently relies on the db schema to set a default "active" status, instead of enforcing it in PHP code when the rest of the coupon details are created.
While using the schema can be considered effective and sometimes even more reliable, there should also be code-enforced checks and balances to ensure that the `coupon_active` field is actually set to an acceptable value upo

[2014-12-23 18:09] #249 closed, assigned to ajeh

[2015-01-02 13:59] diego-vieira opened #258 "Use priority on sales instead of master category"
This is a question that many of my customers ask me about and I decided to make some changes to how the salemaker works and would like to know if you're interested in implementing in the core.

Basically what I did was setting a priority and changed the date created to datetime type, so if there is a conflicting priority, the newer sale will have the priority.

Attached are some screens demonstrat

[2015-01-06 20:49] drbyte opened #264 "Investigate multiple xcache configurations for zc_install"
If `xcache` is enabled, zc_install needs to temporarily disable it if it needs to write changes to the configure.php files, else the catalog/admin won't honor the changes after zc_install is done, until the cache expires.

Presently we attempt to disable APC and xcache by running corresponding "shut it off" function calls in `zc_install/index.php`, but evidently some server configurations require

[2015-01-07 18:10] ajeh opened #267 "Order comments clean up for spaces"
When Orders are created with spaces in the comments, the Order is flagged as having comments.
These need to be cleaned up to prevent this.

[2015-01-07 20:00] #267 closed

[2015-01-10 23:48] drbyte opened #270 "Review all uses of htmlspecialchars and zen_db_output"
I'm pretty sure that all remaining references to `zen_db_output()` should actually be using `zen_output_string_protected()` for consistency.

... and maybe then temporarily move `zen_db_output()` to the compatibility functions file and redefine it to be a call to `zen_output_string_protected()`, for retirement in a future version.

Further, I think a review of all direct calls to `htmlspecialchars

[2015-01-12 16:49] Spike00 opened #271 "Micro fix in zc_install/sql/mysql_utf8.sql and mysql_latin1.sql"
Could you please change
[code]
to

[code]

The change regards address_format_id from 1 to 5

Thank you

[2015-01-12 19:35] zcwilt commented on #271
re-opened until a PR is done.

[2015-01-13 18:57] drbyte opened #272 "Add hooks for external "forum" systems"
- add hooks to make @lat9's BB plugin to only use notifier hooks (instead of touching any core files)
- drop built-in phpBB integration, in favor of community-managed BB integrations (phpBB, Discourse, etc)

[2015-01-14 05:05] DivaVocals commented on #272
FANTASTIC!!!

[2015-01-18 19:22] zcwilt opened #276 "Admin Tax Rounding not the same as Catalog"
Scenario
Tax is set at 20%.
Product price including tax is 6.99 which when entered into Products Price (Gross) on the product entry page is calculated as 5.825 in the Products Price (Net) entry field.
Preview page changes this to 2 decimal places making it 5.83.
Tax added to 5.83 is 7.00.
Tax added to 5.825 is 6.99

The product list in admin shows the product as 7.00 as do any order pages and invo

[2015-02-03 19:17] #106 closed

[2015-02-05 22:59] bislewl opened #281 "Plugin Support Not working"
For certain plugins:
Example: http://www.zen-cart.com/downloads.php?do=file&id=1781
Are not returning the json
https://www.zen-cart.com/downloads.php?do=versioncheck&id=1781

Which is causing:
PHP Warning:  in_array() expects parameter 2 to be array, null given in /home/andeza200/public_html/includes/functions/plugin_support.php on line 42

See:
https://github.com/zencart/zc-v1-series/blob/v160/in

[2015-02-06 00:35] drbyte commented on #281
The JSON output has been fixed to now return the latest approved version when something is still "pending", instead of returning empty results.

[2015-02-06 02:28] bislewl commented on #281
Should there be some "fail safe" if it can not connect to zen-cart.com?

[2015-02-10 18:53] #281 closed

[2015-02-11 05:44] bislewl opened #290 "One page checkout"
I noticed in the 1.6.0 core, COWOA is present. What is everyone's thoughts on a one page checkout? Of course we would need to have noscript fallback as well.

[2015-02-12 17:49] zcwilt commented on #290
COWOA is only present in a very minimal form.
Some work was done a while ago on updating the checkout to be more flexible, in terms of defining entry points and the flow. dependant on configuration (Basically a simple state machine)

I think we still intend to integrate something like this, which will allow for differing checkout flows. e.g. standard, guest, shortened (2 page checkout) and possibl

[2015-02-13 17:29] zcwilt opened #295 "Refactoring QueryFactory."
Based on comment
https://github.com/zencart/zc-v1-series/pull/292#issuecomment-74154170
and elsewhere, regarding problems with the queryFactory interface, the fact that it addresses multiple responsibilities and uses internal methods to manage errors (rather than exceptions) and also still doesn't support PDO.

We have 3 options here.

1. Do Nothing !
2. Some minor refactoring of `queryFactory` to

[2015-02-13 18:50] diego-vieira commented on #258
clearly no one is interested, so closing

[2015-02-13 18:55] drbyte commented on #258
@diego-vieira Clearly this issue got overlooked. Apologies for that.

A PR probably would have received more attention. A PR is welcome.

[2015-02-13 18:56] diego-vieira commented on #258
@drbyte oh, np - will get back with a PR in a few days - thanks for considering

[2015-02-13 19:35] texdc commented on #295
I support `PDO`, but before we do anything, we need a common interface based on the current (legacy) api.  (Always program to an interface, not the implementation.)  This will assist the transition of existing contributions - I'm guessing everything will switch from `global $db` to injecting the connection from the application container:  `$appContainer->get('data.connection.default')`.  It will a

[2015-02-13 19:37] texdc commented on #258
@diego-vieira Make sure the comment on your PR contains `Fixes #258` so this issue will be automatically closed when your PR is merged.

[2015-02-13 20:08] diego-vieira commented on #258
@texdc will keep that in mind, thanks

[2015-02-14 22:31] drbyte commented on #295
While I completely understand (and agree with) why you said that, I submit that Option 1 is indeed still an option. There's an established install base that needs to be remembered here.

I may take some flack for saying this ... but ... while "doing nothing" leaves us stuck with some of the SRP and other issues, the code is still fully functional and allows focusing on other areas of code that do

[2015-02-14 22:59] #79 closed

[2015-02-14 23:00] #64 closed

[2015-02-15 02:20] texdc commented on #295
I don't think you understand the concept of deprecation.  It means the function or method is still there, but it forwards the call to new functionality or throws an exception warning devs to use the new functionality.  Therefore, deprecating the view code from `queryFactory` is still viable for a `v1.6.x` release and does not need to be put off.

Brittle systems will be brittle.  Making them stabl

[2015-02-15 02:30] drbyte commented on #295
You are correct, but you knew that already.

Also it's important to not lose sight of the fact that BC issues aren't just for contributors, but also for the hundreds of thousands of end users, who don't "provide feedback" or participate in any "last-call for input" until they're trying to upgrade.

[2015-02-15 03:28] lhungil commented on #295
In order to provide the greatest amount of compatibility with different hosting providers, I would be against supporting any one specific database driver. What if a host only supports PDO or MYSQL, not both (I know it is not likely)? What if another database is desired in the future?

We need to use (or create) interfaces and allow end users to "drop" in a driver (based on installed modules / supp

[2015-02-16 08:12] DivaVocals commented on #290
I think that one-page checkouts are nothing more than smoke and mirrors. They tend to confuse more than they do HELP because so many of these one-page checkout implementations tend to cram WAY too much data in one location..

There is no real PROOF that they improve conversions either other than anecdotal musings.. If this direction is pursued, may I suggest that some SERIOUS usability studies be

[2015-02-16 11:54] wiztechinc commented on #290
I agree and made some changes to the COWOA checkout that addressed my
concerns delineated here:
http://www.teamwiztech.com/blog/whats-wrong-with-zen-cart-checkout/.  The
biggest change was the login page which includes the create account on it
reducing the number of clicks.

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with

[2015-02-16 19:10] mprough commented on #290
http://www.getelastic.com/single-vs-two-page-checkout/
http://www.smashingmagazine.com/2011/04/06/fundamental-guidelines-of-e-commerce-checkout-design/

It's just not smoke, mirrors, nor confusing done correctly. There have been ample discussions, studies and usability testing (even by Google) regarding this very issue. While options are certainly all over the place, Google, Cornwall university, u

[2015-02-16 19:14] wiztechinc commented on #290
definitely does depend on how it's done, no question.

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Mon, Feb 16, 2015 at 2:10 PM, Melanie Prough <notifications@github.com>
wrote:

[2015-02-17 20:02] DivaVocals commented on #290
Let me be clear.. I'm all for "less confusing".. However, an awful lot of the "one-page" checkout chatter comes from folks who've not really looked at it from a TRUE process improvement POV. They've also not done the real work to TEST their "theories" for some of the truly awful "one-page" checkout solutions I see pushed or offered up.. Much like some of the rhetoric surrounding URL re-writers.. T

[2015-02-18 12:56] wiztechinc commented on #290
Thank you.

[2015-02-19 19:33] drbyte opened #299 "What lightbox tool is most mobile+desktop friendly these days?"
For the new template in v1.6.0 I'd like to incorporate a lightbox for product images (main image, plus additional images), and maybe even feature/specials images (although that's maybe more of a carousel thing) but I want something that's very mobile-friendly ... such as just start swiping left/right on product images to see more ... maybe without even needing to click the image to "start" the swi

[2015-02-19 19:38] wiztechinc commented on #299
I would prefer to see something specially coded for this. Too many of the
existing lightboxes are just more complicated than necessary - leading
towards heavier files loads.

I use the basic fancybox - 48kb. I think it needs to be simpler and lighter
weight than that. - and would be nice, I guess, if it was expandable by
adding js files to it. Think basic functionality - for example
http://deliate

[2015-02-19 20:13] DivaVocals commented on #299
Zen Colorbox.. It works and is responsive..

[2015-02-19 20:15] Zen4All commented on #299
Zen Colorbox was my first choice to, but have to admit I'm not a real expert

[2015-02-19 20:17] wiztechinc commented on #299
As an example of how little jquery it can take to do big things. I paid
someone to do the jquery for both of these. And the jquery is all in the
source

Additional images hover
http://zencartdelia.com/testing/index.php?main_page=product_info&cPath=23&products_id=180
attributes images hover
http://zencartdelia.com/testing/index.php?main_page=product_info&cPath=23&products_id=84

Delia Wilson Lunsfo

[2015-02-20 01:35] DivaVocals commented on #240
I have made no secret my disdain for the CSS/JS loader. I am not opposed to the BENEFIT it is supposed to bring.. What I've always objected to is the fact that it's not just difficult for beginners, it's difficult for folks who are NOT beginners too.. I find that the CSS/JS Loader is poorly documented, not user friendly, lacking in ANY admin level controls so that you can strategically manage how

[2015-02-21 02:09] IronLady commented on #299
Regarding the lightbox choices.

1. Colorbox for its lightweight.
2. Swipebox for its ability to swipe next/prev image inside the lightbox
3. Magnific Popup for its flexible API. Example of magnific popup in ZC is <a href="http://demo.pepperthemes.com/morphling/demo/index.php?main_page=product_info&products_id=1" target="_blank>here</a>

[2015-02-21 04:39] DivaVocals commented on #299
https://github.com/AndrewBerezin posted a solution to adding swipe support to Colorbox:
https://github.com/jackmoore/colorbox/issues/395#issuecomment-44210822

[2015-02-21 06:07] drbyte commented on #299
All of this feedback is greatly appreciated.

We'll take a look at these.

If additional suggestions come up, please post them here too!

[2015-02-23 08:52] Spike00 commented on #299
Hello Chris, is there somewhere a discussion about the new template and the mobile stuff?
I think that the first decision is between an all in one solution going with a responsive template, vs a solution which provides a mobile version different from the desktop version. I know Google push towards  the responsive solution, but for an e-commerce, where there may be a lot of stuff not needed / usefu

[2015-02-23 20:52] DivaVocals commented on #299
@Spike00 wouldn't it be better to create a NEW issue for a template discussion versus hijacking this one (which is regarding lightbox solutions??) It's pretty easy to search the existing issues to see if there is an existing conversion going with regards to templates..

[2015-02-23 21:17] DivaVocals opened #304 "The future of the Default Template & ClassicTemplate in v1.6.0.. (consistency, mobile design/resposiveness, overall look & feel)"
Templates.. Surprised there's been very little to NO discussion here with regards to the current template system.. However, templates are worthy of a serious looksee as they are the thing unfortunately that leads folks to "judge a book by it's cover" with regards to how Zen Cart is evaluated by novice store owners and even technical folks. No matter if this is a fair or unfair evaluation factor, t

[2015-02-24 03:46] bislewl commented on #304
I agree with your reasoning on the template.
However 1.6.0 is going to have a whole new template. See the comment by @zcwilt in August of 2012.
http://www.zen-cart.com/showthread.php?199322-Roadmap-for-v1-5-and-beyond

easier to skin and adapt to custom requirements. There are even plans to prepare a style-guide to help designers put together their custom template updates more quickly and easily.

[2015-02-24 16:36] DivaVocals commented on #304
I too saw that post, but with all due respect, that post is from nearly 2 years ago and therefore it doesn't change the reason why i decided to take the initiative to open his discussion.. I didn't see any discussion or **movement** on this topic.. So I wanted to at least start a dialogue..

So let me expand on at least one of my "pet peeves" as it were with the current default template.. :smile:

[2015-02-24 17:19] IronLady commented on #304
Agree with @DivaVocals about the lack of consistency.
Why don't we create a list of difficulties we are facing when creating a template (Maybe mention it on your comment). So the core team can create something like a checklist or milestone based on that list or maybe we can help them too.

[2015-02-24 17:20] texdc commented on #304
Long term goal:  convert all catalog code to a client side `js` project written in `Angular`, or something similar, to decouple the client from administration.  This would allow a much more flexible templating system where `css` libraries could be mixed'n'matched (though a standard one would be recommended).  Another design goal would be an extensible `CQRS` architecture.

[2015-02-24 18:19] DivaVocals commented on #304
Okay.. ummm English please for those of us not up on the latest & greatest here.. :laughing:

I promise that later today I'll Google what exactly it means to template designers if the plan is to:

and I'll read up on:

and while I do my homework, @texdc can you explain how these changes you speak of will get me (a mere mortal) to a place where the classes and IDs in the default template are a lot

[2015-02-24 18:47] texdc commented on #304
It's really just a note regarding architecture.  Consistency and clarity of IDs and classnames can still be done before any architecture changes, but committing to a css lib like bootstrap would help get things more organized and flexible.

One pet peeve:  systems are responsive, layouts are adaptive.  Terminology is important, from IDs and css classes to variables, functions, classes, methods, an

[2015-02-24 19:20] wiztechinc commented on #304
biggest pet peeve for me is that everything thinks bootstrap is the most
important part of this. IT ISN'T.

There I'm sounding like Crystal now :) I don't usually shout but there is
no question that responsive design is not the best alternative for mobile
for a shopping cart. If you want to know why, you can check out my blog at
teamwiztech dot com. There needs to be real discussion about this - n

[2015-02-24 19:49] texdc commented on #304
@wiztechinc I'm a designer - of systems.  I've done graphic design before, but now focus on software design.  Please read my link above.

I'm also not "laying down the law".  Seriously, relax.

Making IDs and classnames consistent and clear will _always_ result in a template revision, regardless of how it's accomplished.  So, should we never change anything just because someone has written a contr

[2015-02-24 19:55] DivaVocals commented on #304
Oh dear Delia.. I don't SHOUT.. **giggle** I EMPHASIZE in my writing.. :laughing: In person, I am LOUD.. But that's only because I am a singer (hence the moniker DivaVOCALS) and we singers learn to project our voices.. That said as you will take notice from my last response, I will be doing MY BEST **giggle** to use more **bold** or *emphasis* in my prose so that I am not misunderstood.. (as a wis

[2015-02-24 20:06] DivaVocals commented on #304
@texdc

I agree.. Modders and template makers will simply have to adopt or be prepared to be left behind..

Agree.. and if I might add, doing so will **stop** things like the **many many** modules and templates which included so many (conflicting) versions of jQuery.. What compounded the issue was that there has been no standard for the best way to add libraries like Bootstrap or jQuery and many a

[2015-02-24 20:08] DivaVocals commented on #304
@texdc re:

Yeah.. well as long as it's clear to those participating in the discussion what is being communicated, some battles aren't worth fighting..

[2015-02-24 20:17] wiztechinc commented on #304
Though I singled out your comment, George, I was responding to unsaid
things that had nothing to do with you. I realize you weren't laying down
the law but the design is being withheld at this point. Hint, hint.

In case you don't know, I did develop a mobile template (using mobile
jquery). It was a very creative way of providing a mobile option.  I want
to see creative thoughts on all of this. Th

[2015-02-24 21:02] texdc commented on #304
Agreed.  It's just the only css lib that I have experience with.  You can spot them a mile away because too many people have not taken the time to customize their site.  Bootstrap is just that - a bootstrap to get one started, not the final product.  I like it because I can "wireframe" up an app quickly without requiring a UX/UI resource, but still make things easier for them when they come in to

[2015-02-24 21:20] wiztechinc commented on #304
Actually zen cart does a pretty good job of naming the ids and classes
appropriately now but there is definitely room for improvement. That's a
task I wouldn't mind spending my time on.

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Tue, Feb 24, 2015 at

[2015-02-24 21:29] DivaVocals commented on #304
Yes, but how many times have you also been able to "spot" a Zen Cart site in a hot minute?? Was it the un-modified Classic template that gave it away, or the "modified" Classic template with the snazzy pixelated replacement graphics??..  The current template system allows for some absolutely STUNNING looks if one puts in the work, and yet sooooooo many shopowers (and some template designers) don't

[2015-02-24 21:35] wiztechinc commented on #304
I don't believe a site should be forced to include jquery if in fact the
owner chooses not to.

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Tue, Feb 24, 2015 at 4:29 PM, Crystal Jones <notifications@github.com>
wrote:

[2015-02-24 21:42] DivaVocals commented on #304
Right.. but if jQuery is in fact required for functionality present in the core code, then folks will have to adjust.. I think there are very few shopowners who are going to take a strong position on this point.. and jQuery is already a part of the Zen Cart core (see v1.5.4)

[2015-02-24 21:44] texdc commented on #304
Maybe.  Managing versions of external libs is always an issue.  Managing multiple libs is even more of a chore.  Right now, things are such a mess that locking things down to a specific lib and version will help stabilize the project.  Later, we can work on allowing user-defined libs.

[2015-02-24 21:48] wiztechinc commented on #304
We definitely need to standardize it. I wasn't consulted about adding in
jquery in 1.5.4.... Not that anyone would have listened to my concerns
about that - the inclusion of - not the way it was done. I've already
voiced my concerns on how it was done and they will most likely be
addressed. Just came late to that party.

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434

[2015-02-24 21:58] DivaVocals commented on #304
and this is precisely what other open source projects have done.. and ALL -- prestaCart, Open Cart, Joomla/VirtueMart, WordPress, Drupal -- include jQuery in their core without a whisper or whimper from their communities..

I don't see jQuery "going away" anytime soon.. So it's inclusion in the core code makes perfect sense. Personally I'm glad to see this because it will eliminate the issues crea

[2015-02-24 22:16] zcwilt commented on #304
Hi

So I want to just adress part of the reason we added jquery into the catalog side code in 1.5.4

During the PA-DSS certification of 1.5.4, our QSA pointed out that our code for certain core payment modules meant we we were posting back the full credit card number.
For example with authnet aim the workflow would be

Hit checkout payment, enter the cc values, then those cc values would be sent v

[2015-02-24 22:31] DivaVocals commented on #304
@zcwilt Thanks for the explanation.. So it is as I previously stated.. jQuery is in fact required for functionality present in the core code.

Honestly, I think folks will just have to adjust here.. Realistically, there are very few shopowners who are going to take a strong position on this point.. The jQuery inclusion has the side benefit the it will stop the proliferation of conflicting jQuery v

[2015-02-25 07:37] Spike00 commented on #299
@DivaVocals of course, if I wrote here, I thought it was appropriate, both because the topic could have bene discussed in many places, so my first question was about the existence of the discussion somewhere, and then, the topic could change the answer to the question about a lightbox being at the same time mobile and desktop friendly. In other words: before discussing of a responsive solution, I

[2015-02-25 08:14] IronLady commented on #299
@Spike00 https://github.com/zencart/zc-v1-series/issues/304

[2015-02-25 12:55] wiztechinc commented on #304
Bear with me - I'm a writer and English teacher first and can be pedantic.
And I write a lot....

I believe in setting priorities - doing that for any project simply makes
decision making easier.  I have been working in Zen Cart exclusively since
2009 and working in it way longer than that. The way I advertise my
services brings me plenty of existing carts but extremely rarely do I get
to a site f

[2015-02-25 16:06] texdc commented on #304
This is a performance issue.  Are you familiar with CDN and caching features?  Using a standard version from a CDN will drop your load times significantly.

Agreed.

[Yo, dawg!](http://yeoman.io/index.html)  I heard you need better client-code management.

Regarding your emphasis on selling, you're correct.  The primary purpose of any e-commerce app is to convert visitors to sales.  Minimizing the

[2015-02-25 17:32] DivaVocals commented on #299
@Spike00 Understood, but I think it's clear, that this particular thread is simply regarding lightbox solutions, not a full on template discussion..

[2015-02-25 18:30] DivaVocals commented on #304
@wiztechinc Delia I too respect you, and appreciate you sharing your point of view on this topic. However, with all due respect your objections don't fully appear to be based on whether or not the inclusion of jQuery is a "sound architecture change" for the core code. If I strip out all of your concerns about slideshows, and navigation, and best SEO practices, and PCI compliance, your feelings on

[2015-02-25 18:38] wiztechinc commented on #304
I hear you Crystal and agree with many of your points.

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Wed, Feb 25, 2015 at 1:30 PM, Crystal Jones <notifications@github.com>
wrote:

[2015-02-25 18:44] DivaVocals commented on #304
Delia you are still my hero!!  I want to make it clear that I DO understand your concerns.. I DO.. (and in this one instance, I AM shouting at you :laughing:)

But really do I think there is a happy medium here.. I think the architects at work here are making changes that will punt Zen Cart forward..This change is just another "growing" point in Zen Cart's evolution.. The transition from v1.2.x to

[2015-02-25 18:47] wiztechinc commented on #304
And that's what it takes - a happy medium!  I knew that jquery was going to
be incorporated so it's not like I'm upset about it. Just have cautions as
I delineated.

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Wed, Feb 25, 2015 at 1:44 PM, Crystal Jon

[2015-02-25 18:53] DivaVocals commented on #304
Understood.. but I think that the real issue here is how to convert stores which have jQuery modules in place.. I think that a good stopgap measure is to start by clearly flagging all potentially problematic templates and modules.. I think at the very least the authors of these modules and templates need to make a decision.. either
* Rewrite their contribution to fall in line with the inclusion of

[2015-02-25 18:58] wiztechinc commented on #304
I agree - the biggest problem is the templates not the plugins though.
Things we can't control.

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Wed, Feb 25, 2015 at 1:53 PM, Crystal Jones <notifications@github.com>
wrote:

[2015-02-25 19:20] DivaVocals commented on #304
Yes.. the templates can be problematic.. Perhaps the upgrade instructions need to be updated to reflect this.. and if possible I am all for specific templates in the Zen Cart repo being called out.. Not to admonish folks, but to inform..

I think you will agree that none of this is cause to stop the forward movement of Zen Cart's evolution.. we just have to be smarter as solution providers.. :smil

[2015-02-25 19:23] wiztechinc commented on #304
I do, I do!!

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Wed, Feb 25, 2015 at 2:20 PM, Crystal Jones <notifications@github.com>
wrote:

[2015-02-25 21:25] DivaVocals commented on #304
Awesome.. Now let's talk templates shall we??? I'd like a real discussion on re-vamping the template page classes and IDs to use the same logic that is used for the sideboxes...

The sidebox classes and IDs are pretty consistent. Look at the categories sidebox for example:
`
    // bof: categories //

    -->
    <div id="categories" class="leftBoxContainer ">
        <h3 id="categoriesHeading" cl

[2015-02-25 21:29] wiztechinc commented on #304
I don't see it necessary. If you have to differentiate between boxes and I
assume you don't have two named the same, using the id to change the
.sideboxcontent class is what I do so no need for left or right. That's a
little high level for a newbie of course so do we aim towards the newbies
with this?

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and

[2015-02-25 21:42] DivaVocals commented on #304
Trying to make dummy things down to accommodate newbies who don't know CSS is a gigantic step backwards and WILL lead to inconsistent standards being applied.. No other open source program operates this way.. Why should Zen Cart be different?? If a newbie doesn't know CSS to begin with why would they be more confused by a concept they don't understand to begin with??

My suggestion for the .sidebo

[2015-02-25 21:48] wiztechinc commented on #304
so if you are going to have different classes for left and right, how to
activate that change in the code is the question. Obviously, there's
existing code for switching the containers and therefore the sidebox
templates at a higher level. Can that be piggy-backed on or has the entire
system for sideboxes got to change.

(I am not suggesting dumbing down, just asking)

Delia Wilson Lunsford
WizTec

[2015-02-25 22:29] DivaVocals commented on #304
It's a lot simpler than that.. if you look at the code that derives the sideboxes heading and container classes, the same logic can be applied to derive the sideboxes content class..

[2015-02-25 22:41] scottcwilson commented on #144
PR submitted.

[2015-02-25 23:37] drbyte commented on #304
Are you saying that you have a specific reason for not using CSS inheritance to handle left/right styling?

The template already gives you `.leftBoxContainer .sideBoxContent` and `.rightBoxContainer .sideBoxContent` to handle both of those scenarios.

[2015-02-25 23:41] texdc commented on #304
Agreed.  I think things need to be simplified considerably:
[code]
[code]
Only a top-level id is necessary to be specific.  Granted, I don't do ZC template customization anymore.  Am I missing something?

[2015-02-26 01:10] DivaVocals commented on #304
@drbyte

HA! See what happens when one is sleep deprived and begins to overthink things??? I stand corrected sir.. :smile: You are absolutely right.. Honestly the sideboxes as they sit today are fine.. the page templates?? IMHO.. Not so much they need a looksee.. :smile:

[2015-02-26 01:18] DivaVocals commented on #304
@texdc Works for me.. There's no HTML5 in the current templates, I am in agreement that perhaps a full on march towards HTML 5 needs to be a part of any future default template changes.. as long as the same kinds of changes need to be applied to the page templates too. I cannot emphasize enough that it should be a priority that the generation of specific IDs and classes needs to be dynamic so that

[2015-02-26 03:13] texdc commented on #304
The `HTML5` is not important.  It's the ids and classnames.

[2015-02-26 03:18] IronLady commented on #304
I am partially agree with @texdc

I think we should use <code>.container</code> class as an "outer" element. I don't think use the same class name (.header, .content) for sidebox and the main section is a good idea.

Maybe something like this

[code]

And the CSS

[code]

The HTML5 is not so important. We only need consistent and semantic / "make sense" IDs and Classes naming.

[2015-02-26 04:55] texdc commented on #304
@IronLady  Unnecessarily verbose

[2015-02-26 07:13] DivaVocals commented on #304
@texdc I would tend to agree.. not looking to re-reinvent the wheel, I all for implementing HTML5 (it's TIME to make this move anyway..) and consistency, and to let the code create the IDs and classes so that they are consistently and intelligently named..

[2015-02-26 15:15] texdc commented on #304
I keep tweaking my suggestion, so I've decided to move it to [a gist](https://gist.github.com/texdc/71826aae03ceb9172f9d) for easier revisions and change-tracking.

[2015-02-26 15:28] scottcwilson commented on #299
Thank you @Spike00  and @IronLady.  I think this topic is critical.

[2015-02-26 16:26] IronLady commented on #304
@texdc , @DivaVocals
It's just a matter of style.

I would rather use <code>.container</code> as the "outer" element/wrapper. If you take a look at bootstrap, they use <code>.container</code> as the "outer" element (.container > .row > .col)

I always and will always use "Content-based class name", never use "generic" element name as-is ( I will add a prefix/namespace on that name. e.g <code>.site

[2015-02-26 17:01] texdc commented on #304
Your naming scheme does not account for different presentations of the same content in the same page.
[code]

While more verbose, adding a prefix to classes could help with external libs:
[code]
But, those conflicts can be mitigated by using the `SASS` version of Bootstrap and extending it with ZC-specific styles.

[code]

[2015-02-26 18:05] IronLady commented on #304
@texdc That's what I am talking about. Prefix or Suffix is important to prevent name conflict. The sidebox module should have unique name <code>#categories-sidebox, #sidebox-categories, etc</code>. On the markup example I wrote before, I just wanna show that ID is for specific name and class for generic name.
[code]
If you read that line only. You can read it as "Categories sidebox is a sidebox"

[2015-02-26 18:20] texdc commented on #304
Yes, `#categories-sidebox` is a `.container` because it 'contains' `.header` and `.content` elements.  What kind of header, you ask?  Look at the context:  it's a `#categories-sidebox .header`!

[code]

[2015-02-26 19:07] DivaVocals commented on #304
I would be in agreement with this statement.. I would like to emphasize that I'd like to see whatever naming convention chosen to be  code generated so that consistency is maintained..

[2015-02-26 20:14] scottcwilson commented on #276
Wilt, if you want, you can assign this to me.

[2015-02-26 20:18] texdc commented on #304
@DivaVocals Unless we integrate a rendering library like `Zend\View`, the `HTML` is not generated - it's hard coded in the template files.  Any template provider can decide what the actual `HTML` looks like, tags, attributes, and all that.  The best we can do right now is to standardize the `CSS` style-guide with a default template, as it currently is done.

[2015-02-26 20:36] drbyte commented on #304
Yes and no.

I believe @DivaVocals was wanting the page-specific templates to use something like the following code which the sideboxes use to auto-generate the IDs applied to sideboxes

[code]

and also currently used on the `<body>` tag in all pages:

[code]

[2015-02-26 21:56] texdc commented on #304
Ok.  That just looks really messy to me.  While not ideal, I'd be inclined to update the html functions:
[code]
[code]

Want to change things up and customize the output?  Roll your own:
[code]
Again, not ideal.  But, maybe a happy medium?

[2015-02-27 00:58] drbyte commented on #304
I read somewhere that Boolean arguments are code smells: https://github.com/zencart/zc-v1-series/pull/291#issuecomment-73977376

Just sayin'

[2015-02-27 02:37] texdc commented on #304
Fair enough.  Care to admit you don't have the experience to even try to offer a better solution?

Just sayin'

[2015-02-27 03:28] IronLady commented on #304
@texdc If you are using the same class <code>.container, .zc-container, .header, .zc-header</code> for multiple instance of container you will run into an issue. You may need to use descendant, child even multiple selector <code>#categories-sidebox.container {}</code> to override some rule. It's inefficient and I can remember correctly Google Page Speed recommendation say the same.

I create a cod

[2015-02-27 03:33] drbyte commented on #304
It's very clear from all the comments you've made in this github repo that you believe your experience trumps that of everyone involved in this project. This comment is just yet another attempt to draw attention to your belief that your skills are better than anyone else. Sure you've got some coding chops. Good for you. That's why you're still welcome here. But none of this discussion has invited

[2015-02-27 03:35] drbyte commented on #304
I agree with @DivaVocals that standardizing of the naming of IDs and classes is necessary. The consistency that's currently present is not dynamically generated, thus leading to the perception of inconsistency.

As to the repeated comment about HTML5, as @bislewl pointed out, @zcwilt already noted that HTML5 and mobile-friendly are some of the primary features in the upcoming release.

[2015-02-27 04:30] #144 closed

[2015-02-27 07:00] texdc commented on #304
True.  Then why bring it up, if not to "attempt to draw attention to _your_ belief that _your_ skills are better than anyone else"?  Stop hijacking the discussion.  I'm here to help you, and you're not helping.

[2015-02-27 11:04] Spike00 commented on #304
Hi all, what about to define a guideline to post suggestions? I believe that this discussion may become dispersive. In early 2008 I was a bit engaged with Joomla and so when I saw they called for white papers for new features, I wrote one (regarding ACL) which was then merged with other similar and approved.
I believe that could exists a place (forum, better) where to discuss the basics and or the

[2015-02-27 11:10] Spike00 commented on #304
With the word template in my previous post, I meant a canvas to follow when writing a proposal.
Example:
- What, Why, How
- Problem to solve, solution, costs, benefits
- ecc...

Eventually also code if the proposal is very specific or maybe as example.

[2015-02-27 19:32] zcwilt commented on #276
HI @scottcwilson

When I first looked at this, I was purely testing on 1.5.x code (where the bug was posted against)
However when testing against 1.6.0 code, we get different results, and in fact catalog appears to have a rounding issue when using the test scenario above.

The problem is that the current code (both 1.5 and 1.6) has some very brittle code, such that fixing rounding issues for 1 set

[2015-02-27 21:51] zcwilt commented on #304
@texdc

Chris/Drbyte never said that his skills/experience were better than any one else. The Zen Cart team is very small, compared to some other projects and as such we know we don't have the breadth of talent those projects have. I'll admit here, all of this css/html discussion goes over my head. I'm a doofus.

I'll also say this. Look at the forums. How many helpful posts have you made there. C

[2015-02-28 18:16] DivaVocals commented on #304
@Spike00 Re:

I can't speak for everyone.. but I think the issue here for me is time.. I have a day job where I write proposals and functional specs all day long.. I simply don't have time to write up a formal whitepaper just to articipate in a formal process to help shape the making of a decision on improving the default template which IMHO doesn't require that level of formality to begin with..

[2015-02-28 18:31] DivaVocals commented on #304
Re:

Thank you @drbyte for posting this.. It's truly my bad for assuming that folks were looking at the actual template and sidebox PHP files as I have been and understood exactly what I was referring to.. So thank you for making this a lot clearer..

@texdc I have nothing but mad respect for your skills sir.. You are clearly a cutting edge dude, and I don't think anyone will dispute that you have

[2015-02-28 18:34] DivaVocals commented on #304
Re:

Thank you @drbyte for posting this.. It's truly my bad for assuming that folks were looking at the actual template and sidebox PHP files as I have been and understood exactly what I was referring to.. So thank you for making this a lot clearer..

[2015-03-01 12:50] wiztechinc commented on #304
@DivaVocals What she said.
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Sat, Feb 28, 2015 at 1:34 PM, Crystal Jones <notifications@github.com>
wrote:

[2015-03-01 14:58] Spike00 commented on #304
@DivaVocals , I truly believe this discussion is dispersive. There are 67 comments, what has been discussed? what has been decided? If someone discover the topic now and whant to propose something, has to read 67 comments to see if someone already discussed it (the only real thing about template that has been discussed, regards naming consistency. If I want to talk about something else, I aswell n

[2015-03-01 16:19] #143 closed

[2015-03-01 16:19] #109 closed

[2015-03-01 19:40] DivaVocals commented on #304
@Spike00 > There are 67 comments, what has been discussed? what has been decided? If someone discover the topic now and whant to propose something, has to read 67 comments to see if someone already discussed it (the only real thing about template that has been discussed, regards naming consistency. If I want to talk about something else, I aswell need to read 67 comments which I'm not interested t

[2015-03-02 09:47] Spike00 commented on #304
@DivaVocals  I'm sorry. English is not my language so I probably did not explain correctly what I meant. It's not a matter of what I read or not (I read all the comments), I meant that issues in github it's (Imho of course) not the best way to discuss a so broad topic. You opened this issue with the title as broad as possible about the template. Good, but to me this discussion requires to cover as

[2015-03-02 10:01] IronLady commented on #304
@Spike00 An example will be very helpful to show us what is proposal/canvas/whitepaper. To be honest I still don't get the idea.

[2015-03-02 10:13] Spike00 commented on #304
@IronLady I had this in my mind: https://docs.joomla.org/White_Papers

[2015-03-02 10:25] IronLady commented on #304
@Spike00 Good idea. But, I think you can create a new issue, put <code>enhancement</code> or <code>feature request</code> label and write your proposal there.

[2015-03-02 14:55] DivaVocals commented on #304
Which is all I am saying.. **Why** are we taking this topic in a different direction to discuss how to have this discussion??? **Please PLEASE** @Spike00, move this to a new issue, and allow this discussion to stay on target..

@Spike00 if you feel this particular templating topic I started is **too broad** BROAD, then start one that is specific to the templating issue you want to discuss separate

[2015-03-02 15:58] DivaVocals commented on #304
Closing this issue.. Gonna start a new topic on the very specific things I am proposing.. this thread has gotten off kilter with things that I never intended to be a part of the discussion.. :smile: Everyone feel free to start new issues as you all see fit..

[2015-03-02 15:58] #304 closed

[2015-03-02 16:15] DivaVocals opened #310 "Suggestion: Page-specific templates should use code similar to code the sideboxes use to auto-generate the CSS IDs and classes"
Starting over from #304 which is now WAY off-topic and long in the tooth..

Typically when I build a Zen Cart template there's a LOT of overrides I find that I need to include with my template to "fix" (address) what are either missing IDs and classes within the default template or to add a level of consistency to classes and IDs that IMHO is missing in the current default template. Perhaps now is

[2015-03-02 16:18] DivaVocals opened #311 "Suggestion: Classic Template needs a facelift"
*Also being carried over from #304*

Ahhhhh yes..  the proverbial elephant in the room :laughing: I see that "Old Green" is STILL hanging on in v1.6.. :laughing:

I don't think anyone would disagree that the Classic template is a LOT overdue for a MAKEOVER.. The Classic template that comes with Zen Cart out the box doesn't do a very good job of representing the product IMHO. Now I realize that for

[2015-03-02 16:39] wiztechinc commented on #310
I want to reaffirm what Crystal is saying. No matter the template, we need
to be using ids and classes that designate what item actually is and using
descriptive classes in addition. I always use the old defaults and it's not
an issue but after all these years I still have to pause and think if
forward is left or right. The more obvious the better.
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly

[2015-03-02 17:08] IronLady opened #312 "Suggestion : Choose Hyphen over CamelCase in IDs and Classes Naming"
This is just my opinion on why we should choose Hyphens over Camel Case style.

#### 1. "Hyphen Style" is easier to read than "CamelCase Style"
[code]
The second line is absolutely more readable.

#### 2. CSS syntax use hyphen as its delimiter
[code]
By default CSS rule properties using hyphen. <code>padding-top, font-size, overflow-x, ...</code>

#### 3. "Camel Case Style" can create a new incons

[2015-03-02 17:15] IronLady commented on #310
Since we will use Foundation as the framework.
Maybe it'll look like this

Zen Cart | Foundation
------------ | -------------
.back | .left
.forward | .right
.clearBoth | .clearfix
.centeredContent | .text-center

[2015-03-02 18:09] DivaVocals commented on #310
I don't think that ANY decision regarding the use of Foundation or Bootstrap has been definitively established.. Since WordPress was brought up as an example in the #304 issue, WordPress' core and **default themes** do not include Bootstrap or Foundation. It would appear that the WordPress devs left the decision of using Bootstrap or Foundation in the hands of siteowners to be implemented via plug

[2015-03-02 18:24] DivaVocals commented on #310
Also while another separate issue was created to discuss classes and IDs #312, I do think that that issue is totally on point with this discussion..

[2015-03-02 18:26] IronLady commented on #310
I am sure that I read it here somewhere that catalog side will use foundation. This need a clarification.

I am completely agree with you. We shouldn't use any css framework on default theme. But, it's okay if we use it on new classic theme :)

[2015-03-02 18:41] DivaVocals commented on #310
I will have to disagree here.. I don't think that the default template or the bundled Classic template should adopt any framework.. The Classic template should be a starting point, which is why I am advocating replacing it's current incarnation with Barebones..

[2015-03-02 20:13] DivaVocals commented on #310
Had some caffine, some calories, and then re-read some of my earlier missives.. I was thinking as I was eating of the template I am currently building on where I am using Bootstrap and Awesome Fonts. In this template, I have Bootstrap and Awesome Fonts configured as admin configurable items that I can turn on or off.

@IronLady was thinking that the inclusion of Bootstrap or Foundation could indee

[2015-03-02 21:56] wiztechinc commented on #312
And then I disagree. I prefer camel code - having chosen it years ago as the better option. No one ever told me which to use.

[2015-03-02 22:14] drbyte commented on #311
@DivaVocals  said:

No, as long as the changes are as SIMPLE as possible. Preferably CSS only.

I'd be open to removing the 1 remaining layout table as long as the div replacements are compatible with all modern browsers.

Don't go so far as to rewrite it all to HTML5. That's already in the works offline.

[2015-03-02 22:16] drbyte commented on #312
@IronLady For the benefit of broader consideration, can you cite online references where the industry "best practices experts" are advocating hyphenated-everything specifically in favor over camelCase which you're disliking?

[2015-03-02 22:17] wiztechinc commented on #311
a can of worms

shall we do some comps and get consensus approval?
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Mon, Mar 2, 2015 at 5:14 PM, Chris Brown <notifications@github.com>
wrote:

[2015-03-02 22:34] drbyte commented on #312
FYI,
I'm not disagreeing with you at all. Just have to properly assimilate relevant information so that people who challenge the decision later can see the supporting references.

In fact I tend to agree with your suggestion, personally.

[2015-03-02 22:37] DivaVocals commented on #312
@drbyte there aren't any studies out there.. If you Google "camelcase versus hyphens", and you will see a TON of stuff that amounts to nothing more than debates and personal preferences.. I however found this answer the most useful:

There are lots of things in software design and development that are driven, not by the result of formal studies, but by convention and pragmatism. That's why defacto

[2015-03-02 22:53] drbyte commented on #312
This resource, referenced "in that other discussion", suggests hyphenated is preferred: https://mdo.github.io/code-guide/

And I know that Foundation and Bootstrap both use hyphenated.

I'm torn whether to leave ZC-specific classes and IDs as camelCase for distinction and to prevent clashes with a CSS framework.

[2015-03-02 23:16] lhungil commented on #312
I'm a fan of hyphenated for CSS classes. Mainly just because in HTML all values are case-insensitive and using camelCase or PascalCase can be misleading.

I'd also prefer id attributes are not added to every element (and growing longer with each element in a tree). I'm not saying there should not be IDs on many of the common "parent" sections (there should be)! But every child element does not nee

[2015-03-02 23:24] drbyte commented on #240
To elaborate on my previous note:

You can see the code for this in the /includes/modules/tpl_css_js_generator.php script:

Interception
-

- a notifier at the start to completely change the defined css-js handler if one wishes to completely bypass the built-in one

BODY Classes
-
- BODY classes dynamically added based on page-name, current-product-id, current-mfg-id, current-category-id, current-

[2015-03-02 23:25] lhungil commented on #311
Any thoughts about expanding the "parent" and "child" relationships in future versions of Zen Cart? Right now we have every theme as a child of the "template_default". If this was expanded we could have a parent theme based on "Foundation", "Bootstrap", or any other framework.

This thought has been percolating in the back of my head for quite awhile. Perhaps while looking at updating the generate

[2015-03-02 23:25] drbyte commented on #240
And, of course, with notifiers, tons of minification can be done via external tools, if desired, with no need to mangle any core code.

[2015-03-03 00:26] DivaVocals commented on #312
I think that in the case of dealing with CSS Frameworks that the best way to avoid conflicts is to have the base theme create it's OWN framework that will not conflict with a CSS framework.. Though there are inconsistencies with regards to classes and IDs in the current default template, for the **most part** there are few conflicts with Bootstrap currently.. I can't speak for Foundation, but I wi

[2015-03-03 00:53] DivaVocals commented on #312
Just read the article @drbyte referenced in his [last post](https://github.com/zencart/zc-v1-series/issues/312#issuecomment-76845123)..

I agree with all except this section:

I know others will disagree, but I am a fan of the MobileDetect script.. Media queries alone cannot possibly cover all of the range of what should or should not be included/viewed on mobile devices.. MobileDetect allows me t

[2015-03-03 01:00] DivaVocals commented on #311
Folks.. Let me be CLEAR before we all go too far down the rabbit hole here.. what I am propose to do to change Classic is merely a simple stylesheet change and removal of the ugly green images.. Barebones is JUST that.. a simple "barebones" template which removes all those UGLY green images and at least makes an out the box Zen Cart installation a lot more attractive.. Hardly a can of worms.. :smi

[2015-03-03 01:16] DivaVocals commented on #311
Barebones preview so everyone is CRYSTAL clear on what look I am proposing that classic be updated with. Barebones is simple, clean and a lot more attractive than "old green"

![Image of Barebones](http://www.rowanw.com/screens/barebones_screenshot.png)
![Image of Classic](http://www.murphsmilitaria.com/images/scr_template_default.jpg)

[2015-03-03 01:28] DivaVocals commented on #240
@drbyte this sounds pretty awesome.. I think.. :laughing: .. speaking from the POV of one of the "non-coders" in the bunch I see the term "notifiers" used, but I am fully unclear what they mean or how one can use these little golden nuggets.. Can you help my non-coding brain understand what a notifier is?? :smile;

[2015-03-03 03:31] IronLady commented on #312
I guess we have to move on from our old habit and style. But, it's okay to disagree.

I don't have any. But thanks for referencing mdo code guide.
It's just my style preference. I think the autocomplete feature of any text editor works better with dashed style in css.

Just take a quick look at the default css, I think only one element will conflict with some framework
<code>ul.pagination</code> r

[2015-03-03 03:36] barco57 commented on #310
Well, here goes, my first comment on github, let's see if I can figure out Markdown

@DivaVocals

issue #299 starts with

...

I think that clearly shows that a new template is in the works that uses Zurb Foundation to be implemented on the catalog-side. What hasn't been spoken yet, I believe, is whether or not the new RWD template is going to be included in addition too the classic template or a

[2015-03-03 03:45] drbyte commented on #139
@bislewl Do you have a list of the kinds of notifier hooks you're interested in for the Admin?

[2015-03-03 04:49] barco57 commented on #312
I will toss my vote towards hyphenation

[2015-03-03 05:43] DivaVocals commented on #312
@IronLady the device specific classes are not reliable, and don't always work.. the MobileDetect script (and it is called MobileDetect) is a LOT MORE reliable in my experience.. There are places where a media query alone doesn't quite cut it, and in some cases, I DON'T want to simply "hide" something from one viewport using "display:none".. I'd rather instead that it not render at all.. The Mobile

[2015-03-03 06:07] IronLady commented on #312
@DivaVocals It's just an example. I am not sure what mobile detect script you use. But, maybe with that script you can append <code>android, mobile, iOS</code> class to the body so you can override the style just like the example above.

Media queries to detect the device and load all content then "hide" it at some viewport is the main key of RWD (Responsive Web Design).

On the other hand, if you

[2015-03-03 06:24] DivaVocals commented on #310
@barco57  Thanks for the reference.. but my position on standardizing on one CSS framework is the same.. I think that not giving shopowners and template designers a choice is a mistake.. Why Foundation and not Bootstrap.. WHY make folks choose.. I am of the opinion that the default template for Zen Cart should be framework agnostic.. Again since WordPress was used as an example, the default WordPr

[2015-03-03 06:53] DivaVocals commented on #312
At the risk of being a smart a$$, it's REALLY called **[MobileDetect](https://www.google.com/search?q=MobileDetect&ie=utf-8&oe=utf-8)**..

seriously :smile:
That's what it's called...

Well that still means I am HIDING things versus not rendering them at all at specific viewports..

There is no rule that says a site can't use a combination of RWD (Responsive Web Design) and AWD (Adaptive Web Desig

[2015-03-03 07:26] Spike00 opened #314 "Contribution to template refactoring"
Hi all, I'd like to discuss how to develope the new base template, but reading @drbyte in #311 it seems to me that this is not the place because there's already people at work but not here (I understand he was referring to pull requests, but saying that there's people at work on it offline I thought that this was not the right place). So the question is, is it possible to discuss this topic? In #3

[2015-03-03 07:36] IronLady commented on #312
@DivaVocals TRUE, you can always combine them (AWD-RWD)  <strong>My point is not the terminology.</strong>

I just want to clarify things you say you don't agree with

It's a quote from mdo (The Bootstrap Dev Guy), since BS is RWD Framework of course they use <code>media-queries</code> to detect viewport and "filter" the content.
Foundation has a little [AWD taste](http://foundation.zurb.com/docs/

[2015-03-03 08:34] DivaVocals commented on #312
Right.. I think the point I was making has gotten lost in all this MobileDetect talk.. Though I would not object to the MobileDetect script's inclusion, that also was not the point I was making..

I I was simply saying that overall, I agree in GENERAL with many of the principals in the MDO except the one about not keeping separate mobile/responsive/WHATEVER stylesheets.. On that point I think we a

[2015-03-03 08:52] DivaVocals commented on #314
If you think it's impossible to discuss this HERE, try opening up a discussion topic on the forum.. :laughing: I promise you that it will be a FUN discussion (not!)

Not sure why you STILL think this is not the place to discuss this.. we now have three distinct discussions going on and I think they are all productive discussions.. Nothing @drbyte said in #311 would tend to indicate that it preclud

[2015-03-03 11:43] scottcwilson commented on #311
One suggestion I made to @drbyte was to just rename the classic template to (say) "Training".  To me, the purpose of this template is really to show the various divs and spans (in loud garish colors!) so people get a sense of how to build their own template - not so much to be used as-is on a real cart. I do like the idea of including Barebones, which looks nice from the preview above.

[2015-03-03 12:11] wiztechinc commented on #312
My point was that I am untrained, unschooled and self-taught. My eye and
head told me that camel case worked best for me. I had to make a choice
years ago and camel case seemed to be the better way. Not that it's just
the way I'm used to.
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiz

[2015-03-03 12:24] scottcwilson opened #318 "All free items - checkout confirmation page broken"
I was running a test with a free item and $2.50 shipping and I noticed that the checkout confirmation page was missing the confirm order button.  Sure enough, in tpl_checkout_confirmation_default.php, line 48, the display of this button is blocked if the cart total is 0.

  if ($_SESSION['cart']->show_total() != 0) {  ?>

Removing this line (and the matching brace at the bottom of the file) fixes

[2015-03-03 12:30] wiztechinc commented on #311
I definitely agree that a less garish template is the way to go. Classic
does help to emphasize divs to some degree but it's just plain ugly folks.
To someone looking for a website cart it's a hurdle.The barebones look is
much better. Then clients will be saying, "Oh, it's so plain. How can I
fancy it up?" Instead of "oh that's ugly!" and then they go out and buy one
of those god awful templates.

[2015-03-03 15:01] ajeh commented on #318
Good catch.

Now I am trying to think why was that IF was added to begin with as it surely had a purpose.

[2015-03-03 15:02] ajeh commented on #318
Had a thought, did that come with the original COWOA? I am thinking that it is a current bug with COWOA that has been brought up from time to time.

[2015-03-03 15:04] scottcwilson commented on #318
I am set up to run a testcase if you wish - do you want me to try to COWOA with this cart?

[2015-03-03 15:19] ajeh commented on #318
I found the bug with my fix, that matches your suggestion:
http://www.zen-cart.com/showthread.php?209975-How-can-I-setup-a-free-download

[2015-03-03 15:23] drbyte commented on #318
Ya, the link from there goes to this discussion which confirms same: http://www.zen-cart.com/showthread.php?213979-problem-with-upgrade-from-v151-to-v153-help-please&p=1263454#post1263454

[2015-03-03 15:29] scottcwilson commented on #318
Thank you  - just created PR.

On Tue, Mar 3, 2015 at 10:19 AM, Ajeh <notifications@github.com> wrote:

[2015-03-03 17:03] Spike00 commented on #314
@DivaVocals I referred what drbyte said in #311 , not the topic of #311.
This is the sentenced I referred to: Don't go so far as to rewrite it all to HTML5. That's already in the works offline.

Issues in github are obviously related to code available in github and as Chris wrote, the template refactoring is being done outside github.

So, how to discuss, if possible about how to do the refactorin

[2015-03-03 17:14] drbyte commented on #311
@lhungil said

We've been toying with this idea too. But as far as the subject of this discussion "Classic template needs a facelift" I think it's off-topic. Discussing it in a separate issue with discussion specifically geared around architectural considerations is probably best, lest it devolve into multiple other topics.

[2015-03-03 17:16] drbyte commented on #314
@Spike00 said:

Sure. What is your list of pet features you wish to see considered?

[2015-03-03 17:27] IronLady commented on #311
The classic template really need a serious make over. I agree with that.
But I am not agree if we use barebones to replace classic. I think it's still looks not nice.
What we need is default template that looks fine/good so we can attract "new user" to try and maybe use ZC.
By using css framework, customize the color a bit, categories drop down menu, add feature to create banner slider by default

[2015-03-03 18:29] lhungil commented on #311
@drbyte & @DivaVocals

Agreed.

@IronLady

Agreed. Although depending on the timeline for release, we may end up needing to start with one of the existing "basic" themes as the default template (for example barebones) . Then a new "classic" theme could be added which looks snazzy.

[2015-03-03 19:58] ajeh commented on #318
:+1:

[2015-03-03 19:59] #318 closed

[2015-03-03 20:37] DivaVocals commented on #311
@lhungil

And THAT ladies and gentlemen is ALL I am suggesting.. A small BEGINNING step.. One that needs to happen sooner than later.. Why WAIT to facelift Classic while the discussion of what to do with the default template is FAR from decided.. This is an EASY yes decision, and Barebones will give everyone a clean start..

@scottcwilson I don't dispute that Classic is a starting place, but it's

[2015-03-03 20:49] drbyte commented on #311
Okay, on the issue of facelifting classic (the title of this discussion), all I'm seeing is everyone saying that Classic is ugly and needs to be changed. Is this discussion going to at some point turn away from being a gripe session and into something productive?

Or are we just going to keep flogging this point?

[2015-03-03 20:50] DivaVocals commented on #314
I guess I don't get your trepidation.. If you want to discuss a topic, then raise it and discuss it.. That's what we've ALL been doing.. Not sure why you feel you can't discuss things because you don't SEE it..

[2015-03-03 20:50] wiztechinc commented on #311
both Crystal and posted views and suggestions.
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Tue, Mar 3, 2015 at 3:49 PM, Chris Brown <notifications@github.com>
wrote:

[2015-03-03 20:50] wiztechinc commented on #311
sorry both Crystal and I
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Tue, Mar 3, 2015 at 3:50 PM, Delia Lunsford <delia@teamwiztech.com>
wrote:

[2015-03-03 20:52] drbyte commented on #311
Okay, so you're making suggestions. Is that going to be the sum total of this discussion? You're going to tell us what you want to see us do?

I thought @DivaVocals started out by asking whether actual code submissions were welcomed ... to which I said yes. But it seems we're back to simply saying Classic is ugly ... again.

[2015-03-03 20:57] wiztechinc commented on #311
Um, I kinda thought this discussion had been nixed. I'll be glad to
elucidate further....
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Tue, Mar 3, 2015 at 3:52 PM, Chris Brown <notifications@github.com>
wrote:

[2015-03-03 21:03] DivaVocals commented on #311
@drbyte

Chris you are absolutely right.. Thanks for the kick in the butt here.. I intend to back this up with a pull request this weekend..

All this talk about the parent template (template_default) is NOT what the point of this issue. this is why I separated any discusssion about Classic from the parent template (template_default) issue I created.. My only point here is that Classic (the defaul

[2015-03-03 21:20] wiztechinc commented on #311
I don't use the classic template as is but I do use it as the base so that
anyone who comes after me who knows the default template can figure out
what I've done. I feel that's part of the reason it exists. One of the
biggest problems with most bought templates is that nothing of the default
exists making some of them impossible to alter with any efficiency at all.

I think we need to look a bit f

[2015-03-03 21:26] DivaVocals commented on #311
Suggest downloading and install Barebones.. It's already a 100% width template..

[2015-03-03 21:28] wiztechinc commented on #311
don't like it
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Tue, Mar 3, 2015 at 4:26 PM, Crystal Jones <notifications@github.com>
wrote:

[2015-03-03 21:29] DivaVocals commented on #311
That's fine.. but IMHO a default child template should be a minimalistic as possible..

[2015-03-03 21:32] wiztechinc commented on #311
The look is fine. Used it once and never went back. Too much stuff had to
be changed and sorry I don't remember details. That was a long time ago.
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Tue, Mar 3, 2015 at 4:29 PM, Crystal Jones <notifications

[2015-03-03 21:35] DivaVocals commented on #311
and as I tell my nephew and end-users, "don't like it" is not an answer.. :smile: I read your previous post, but honestly I am unclear what you are suggesting and none of your screenprints can be seen..

So let's start from Barebones as a starting point and let's here you suggestions fromthere.. Because I am not starting from the existing Classic template.. :smile:

[2015-03-03 21:40] wiztechinc commented on #311
Well, that's telling me.
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Tue, Mar 3, 2015 at 4:35 PM, Crystal Jones <notifications@github.com>
wrote:

[2015-03-03 21:44] DivaVocals commented on #311
Not telling you at all.. just saying let's start from a common point.. So far I don't have anything specific that I can comment on..

[2015-03-03 22:22] wiztechinc commented on #311
Is github stripping out all urls? If so, we can't  give concrete examples to look at - and nothing I've said makes sense.

Delia Wilson Design
delia@deliawilsondesign.com
(434) 202-1683

[2015-03-03 22:54] drbyte commented on #311
When you post by email, attachments don't get included. But actual URLs in clear text (not html formatted <a href> links) are kept.

And, also, when you post by email, your "email signature" and all the "reply history" in the email also get posted to github, so would be tidier if you deleted all those when replying by email.

[2015-03-04 02:01] DivaVocals commented on #311
Yup... :smile:

That's why I stopped replying by email to Github.. PLUS the post by emails isn't reliable..

[2015-03-04 11:28] scottcwilson opened #328 "Checker request"
Can we have the post checkin verification steps include running "php -l" on all files in the PR?  This would prevent errors such as that fixed in #324 (sorry and thanks Linda!).

[2015-03-04 13:18] wiztechinc commented on #311
Thanks drbyte for the info. So, let me try again. Everything I speak about here is shown as samples at http://deliatest.com/1_5_3

These 4 things are what I think needs to be in the default template as an example for someone to use and based their own template on. This has nothing to do with whether it's the barebones, classic or timbuktu template. I think we should supply a usable template that o

[2015-03-04 13:54] DivaVocals commented on #311
Let me make sure we are all on the same page and all using the right names..

**default_template** is the parent template in Zen Cart. As the name implies it IS the DEFAULT template..

Classic is NOT the default template.. Like any other Zen Cart template, Classic is a CHILD template. It is the CHILD template that comes bundled with Zen Cart. It is NOT the default template though..

Child template

[2015-03-04 15:01] barco57 commented on #311
^what Diva said.
I was tempted to write a similar post but Diva does such a much better job, she knows exactly where to use ALL CAPS....:gift_heart:

[2015-03-04 15:40] DivaVocals commented on #311
I wanna know how to do that heart so I can send one back to you Mike!!! :heart_decoration:

[2015-03-04 15:48] drbyte commented on #311
In case @DivaVocals wasn't clear, Delia @wiztechinc raises good points, all worthy of consideration. Primarily for the default template.

It's true, this discussion is geared mainly around facelifting Classic.

[2015-03-04 16:27] DivaVocals commented on #311
Exactamundo!!! Any layout changes that are eventually made to the **new** default_template will become part of Classic as a it is child theme, it will inherit changes from the parent..  (notwithstanding that there of course may be some stylesheet changes needed to support the default template changes..)

[2015-03-04 20:08] zcwilt commented on #328
Scrutinizer should pick up these problems. Unfortunately we removed the template directory from the list of directories that scrutinizer looks at. This was done to speed up scrutinizer.
Should we add it back ?

[2015-03-04 20:25] zcwilt commented on #310
My point here is that framework choices should be left to site owners/site developers and there needs to be safeguards so that siteowners and module/template developers can't do silly things.. There has to be a way to modernize the template by offering BOTH of the popular CSS frameworks and give folks a choice in the direction they choose.

I should first say that when it comes to html/css, I'm a

[2015-03-04 20:57] scottcwilson commented on #328
I feel like a dope - I made that change at the very last minute just to
clean up the file and removed the unused code, and didn't retest.  Just a
suggestion.

On Wed, Mar 4, 2015 at 3:08 PM, Ian Wilson <notifications@github.com> wrote:

[2015-03-04 21:05] drbyte commented on #328
We're equally at fault for not catching it before we merged it. ;)

[2015-03-04 22:06] DivaVocals commented on #310
Well there's a couple of theoretical approaches that come to mind..

1. Follow a model similar to how WordPress themes work.. In WordPress a default WordPress installation includes more than one default template and one would then create a child theme based on the parent template they select. In fact for the most part, ANY WordPress theme can become a parent theme. The recommended path is for site

[2015-03-04 22:45] wiztechinc commented on #311
I got it. Crystal thumped me on the head to get it in there. Classic only.

[2015-03-05 00:44] DivaVocals commented on #311
Thumped.. I thought I gave you a glass of wine first???? **giggle**

[2015-03-05 01:13] wiztechinc commented on #311
That was last night. Today the thump

[2015-03-05 01:55] DivaVocals commented on #311
:laughing:

[2015-03-05 21:35] scottcwilson commented on #328
Wilt, would it be possible to scrutinize *only* the template files which have changed recently?  So you'd get the best of both worlds?

[2015-03-06 11:32] scottcwilson commented on #179
As far as I can see, the areas on the catalog side with this issue are listed below.
However, I am not convinced that this is truly an issue - the W3C validator does not find any problems with the login page (http://www.w3.org/).
I agree with @texdc that "name" is superfluous, but I don't think this warrants a change and would recommend closing this issue.

./tpl_login_default.php:<?php echo zen_d

[2015-03-06 23:09] zcwilt commented on #328
Can't say that adding back the templates directory added much extra processing time, as it's very dependant on the change request and how stressed scrutinizer is at the time.

[2015-03-08 17:35] #328 closed

[2015-03-08 19:49] scottcwilson opened #339 "Question on work item "Template - multi-tier ... parent, child, grandchild ?"

[2015-03-08 19:51] scottcwilson opened #340 "Question on work item "Template - multi-tier ... parent, child, grandchild ?""
Would it be satisfactory to add *one* more level to the template lookup:
- check template defined in admin->tools->template selection
- (new) check backup template (perhaps defined in same place, or perhaps statically named).
- use default file (template default or base directory for a languages file).

[2015-03-09 10:13] Spike00 commented on #340
I used exactly this solution to manage mobile template

[2015-03-09 10:15] Spike00 commented on #314
Hi, I'm sorry but I had a bunch of problems. In next days I'll write down my thoughts.

[2015-03-09 13:49] drbyte commented on #339
closing empty duplicate of #340

[2015-03-09 13:49] #339 closed

[2015-03-10 19:08] scottcwilson commented on #340
Thank you @Spike00 - did you use a variable name (like the current template) or did you use a fixed name?  I am tending towards a fixed name (perhaps "common"). I think this would work nicely for the Defines Page Editor (for example), where the order of search could be:

common -> current template -> base directory (includes/languages/CURRENT_LANGUAGE/html_includes.)

Anyone else?

[2015-03-11 08:50] Spike00 commented on #340
I wrote this as if I would release it as a plugin some day, so I thought of possible conflicts with template names and decided to use a define (so a variable name) defined in a file in extra_configures, to easy fix possible conflicts.
Introducing this feature at core distribution, would not require to have the name variable, but I don't really see the reason not to.

define('ZW_MOBILE_DIR', 'mobil

[2015-03-11 09:01] Spike00 commented on #340
Still in development. The template function is working, the module one not, after I wrote the comment, reading it, I found errors, in effect I'm not already using it.

[2015-03-11 19:01] scottcwilson commented on #189
PR submitted.

[2015-03-11 19:04] scottcwilson opened #346 "Sort order changes for Specials and Featured Products"
The way Wilt set up the dashboard widgets so you can drag them around is really nice.  Could we do that for the sort order stuff for specials and featured?  I know I'm asking just in the nick of too late but it just occurred to me. :(

[2015-03-11 21:35] zcwilt commented on #346
Interesting idea, :)
While we do have some workboard stuff e.g. https://github.com/zencart/zc-v1-series/issues/63
that change the way some admin pages are built, and use ajax etc to make the admin experience better, I hadn't considered adding drag/drop to other pages.

Will keep it in mind as I look to roll out LEAD stuff for various admin pages.

[2015-03-14 19:56] #189 closed

[2015-03-18 16:45] scottcwilson commented on #340
PR submitted with a design of having a directory called "shared" which is searched first.  (Then your_template, then template_default).

[2015-03-23 16:01] drbyte opened #352 "gzip optimization - research needed"
The gzip compression settings in ZC were initially established based on detailed analysis of extensive testing done across a wide array of hosting providers and server configurations, to determine the optimal choices, and limit user-error by presenting only the settings that actually provided meaningful usefulness.

At the time the research was done, it was discovered that only 0 or 1 provided any

[2015-03-23 16:05] drbyte opened #353 "Asset caching optimization"
TODO: Test and verify that the http headers being sent for images, css, js all have proper future-dated expiry, etc

What improvements, if any, are needed for the .htaccess asset optimization rules provided in the /images/ and /includes/templates/ folders? And why, specifically

[2015-03-23 18:07] drbyte opened #357 "Option: Allow customer "upload" from cloud storage services like dropbox chooser or filepicker.com"
Consider implementing support to allow customers to submit images using online services such as:
https://www.filepicker.com
https://www.dropbox.com/developers/chooser
(ie: instead of uploading attachments)

[2015-03-23 23:46] drbyte opened #359 "Enhancement: Add tax-class for custom locations in store_pickup shipping module"
Presently the store_pickup module allows the option to specify named Store-Pickup locations, and an associated 'cost' (ie: will-call fee, etc). But it doesn't also allow designating a tax-class for each of those locations, and instead applies just one tax-class regardless of which named location is selected.
- [ ] Requirement 1:

  As for the admin interface, the simplest way is to just augment th

[2015-03-24 03:20] drbyte opened #364 "Named shopping baskets, named wishlists"
Features frequently requested:
- [ ] Ability to save my shopping basket contents ... and name that basket and ability to retrieve that basket later, independently of making other purchases.
  - [ ] Ability to share a URL link for that basket to my friends so they can look at the things I'm considering buying, ostensibly to give me feedback
- [ ] Similarly, named wishlists and the ability to pull i

[2015-03-24 11:20] wiztechinc commented on #364
yes!!

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Mon, Mar 23, 2015 at 11:20 PM, Chris Brown <notifications@github.com>
wrote:

[2015-03-24 13:04] barco57 opened #366 "Reduced create account requirement"
The act of creating an account should only require the collection of an email address and password. All other information (address, phone, etc..) can be gathered when that information becomes useful, such as at purchase time. This would also remove the current create account process from being a barrier to those who might only want to begin to create a wishlist ( issue #364 )

[2015-03-24 13:06] barco57 commented on #364
:+1:

[2015-03-24 19:05] #272 closed

[2015-03-25 13:05] lat9 commented on #272
I hate to be a pain, coming late to the party, but what about the password_forgotten processing?  In the current plugin, if a customer clicks the "Password Forgotten" link and receives a temporary password, that same temporary password is applied to their BB account, if present.

[2015-03-25 14:11] drbyte commented on #272
The code changes were more based on extracting out the phpBB code, not specifically around the plugin's features.

That said, I've submitted another PR #371 to add the functionality requested.

[2015-03-25 17:10] scottcwilson commented on #364
You could use my Save for Later mod as a base for this work.

[2015-03-28 10:33] IronLady opened #372 "WYSIWYG Editor as default/core admin feature"
Would it be better if WYSIWYG Editor (TinyMCE, CKEditor, etc.) included in default installation?
Some user may need table, unordered list, heading tag and other tags for the product description, this will help them who don't have HTML basic understanding.
I think it's really important.

Thoughts?

[2015-03-31 02:27] barco57 commented on #372
It used to be and was removed in favor of the WYSIWYG Editor being an addon. I myself like to use CKeditor and add particular plugins too it based on the clients needs, as the CKeditor for 1.5.4 is a stripped down version

[2015-03-31 07:28] DivaVocals commented on #372
Mixed feelings about including a WYsiwyg editor.. I am more in favor of a stripped down editor with FEW options other than BASIC options (bold, italics). I find that too many store owners do UGLY things if there are too many editing options, and most of them they don't (read: shouldn't) need to do..

[2015-03-31 07:40] IronLady commented on #372
Basic HTML I was referring too are bold, italic, underline, strikethrough, text-align, ul, ol, h1-h6 and other basic text format. No need to include all options. It's better than plain text I think.

[2015-03-31 07:53] Zen4All commented on #372
I agree with Iron Lady. It also will decrease the (large) number of installation errors, seen on the forum, when people do install an editor.

[2015-03-31 08:03] barco57 commented on #372
I would like to know how the editor impacts PCI Compliance as it relates to getting Zen Cart certified. The editor may have been removed so it was not in scope for testing during certification.

[2015-03-31 08:17] Zen4All commented on #372
@barco57 Good point

[2015-03-31 12:14] Zen4All opened #374 "Multi lingual country names"
This may be a to large of a change for ZC 1.6, but I would love to see the country names to be multi lingual in a future release of Zen Cart..
A lot of my customers have shops in multiple languages, and ften ask how and where they can change the county names. Not every one knows the English names for the worlds countries.

[2015-04-01 09:54] Zen4All commented on #374
Since I brought the suggestion, I thought to start work on this. It turns out it's not that hard, to accomplish, although a lot of core files need to be changed, and an additional table in the database is needed.

[2015-04-01 17:18] zcwilt commented on #374
Good for you for doing the work. I just wish I was ready to commit stuff for https://github.com/zencart/zc-v1-series/issues/63

Changing the admin page for Language management would then just have been a matter of updating a couple of arrays, with probably minimal code to write

[2015-04-01 17:54] Zen4All commented on #374
No worries.
This afternoon I finished the work, and have it working on a 1.5.4 installation.
I am also thinking of releasing this as a module on the forum, but then I will have some more work on a readme and a proper fool prove installation script
I'll keep an eye open on #63, because my admin code is indeed largely a copy of orders_status.php, and

[2015-04-02 14:25] DivaVocals commented on #364
:+1:

[2015-04-02 14:27] DivaVocals commented on #366
That's a direction I want to move in with COWOA as well.. In fact I am looking to make the actual creation of an account during checkout to be moved to AFTER the purchase is complete, and prompt the user to create an account at that time with the information already collected during the checkout..

[2015-04-02 14:35] ajeh opened #377 "#350 Reviews are using incorrect paths for Review Stars"
#350 Reviews are using incorrect paths for Review Stars:
/includes/templates/shared/images/stars_5.gif

[2015-04-04 01:00] barco57 commented on #366
Both methods should be implemented

[2015-04-04 01:08] barco57 commented on #364
needs an admin page where the store admin can see the wishlists, or an aggregate of products placed in wishlists. I know of one client with the current wishlists mod that goes through wishlists to get ideas for products that might sell well on special.

[2015-04-04 01:22] barco57 commented on #353
Avoid expecting the server to be setup with Etags turned on in Apache, particularly where cPanel recommends Etags=off for PCI compliance.

[2015-04-07 17:47] #377 closed

[2015-04-09 00:04] robryanx opened #384 "Small PayPal Admin Notification Issue"
Just a small issue that is worth noting, in paypalwpp_admin_notification.php

if (isset($response['RESPMSG']) || defined('MODULE_PAYMENT_PAYFLOW_STATUS'))

This line results in it always showing the payflow format if it is enabled, which is in issue if you have Express Checkout and Payflow enabled.

I think it is fine with: if (isset($response['RESPMSG']))

Sorry I didn't have the time to submit a

[2015-04-16 00:54] ajeh opened #392 "Gift Certificate Queue email extra copy for the Admin"
There should be an option to offer an email extra copy for the Admin, just like most every other email sent to customer has a setting.

This has been asked for in the past, example:
https://www.zen-cart.com/showthread.php?216928-Gift-Certificates-assistance-required

[2015-04-17 16:23] zcwilt opened #395 "Fatal error in dashboard widget manager when creating a new user"
[17-Apr-2015 16:16:01 UTC] PHP Catchable fatal error:  Argument 1 passed to ZenCart\Admin
    \DashboardWidget\WidgetManager::loadWidgetClasses() must be of the type array, null given,
    called in /home/vagrant/web/zcwilt/includes/library/zencart/admin/Services/src/IndexRoute.php on
    line 51 and defined in /home/vagrant/web/zcwilt/includes/library/zencart/admin/DashboardWidget
    /src/Widget

[2015-04-17 21:18] #395 closed

[2015-04-21 21:45] scottcwilson commented on #340
Should we close this issue?

[2015-04-21 21:51] drbyte commented on #340
I think so.
Closed.

[2015-04-21 21:51] #340 closed

[2015-04-21 22:11] scottcwilson commented on #179
Can we close this issue?

[2015-04-21 22:14] scottcwilson commented on #184
I agree with @lhungil 's first point - prevents accidental override of my local configuration vs live site configuration.

[2015-04-21 22:21] drbyte commented on #184
Lots of good suggestions here. Some ought to be posted as separate `issues`

[2015-04-21 22:25] drbyte commented on #67
This situation should only occur if `CHARSET` is not defined properly.

Note: v1.6.0 moved `CHARSET` and several other locale-specific defines into the `locale.php` language file. As such, old language packs might need some changes for optimal compatibility.

[2015-04-22 19:17] zcwilt commented on #179
I'm happy to close, also given that templates will get a refresh in 1.6.

[2015-04-22 19:17] #179 closed

[2015-04-23 10:10] scottcwilson opened #398 "jQuery load should be done before the load of javascript files"
Any jQuery based javascript will depend on jQuery already being there.

[2015-04-29 19:41] drbyte commented on #67
I believe this still needs investigation

[2015-04-29 19:43] drbyte opened #400 "Multiple language-specific overrides needed in Admin init_languages"
Specifically for init_languages.php

There is not currently any fallback to default if the lang-specific version isn't found for the many language files mentioned in init_languages.php

ie: default to a language-folder named '' if folder+file isn't found.

[2015-05-01 03:13] drbyte commented on #310
NOTE: A middle-step "shared" template folder has been added in #350 and updated with #377 and #380

[2015-05-01 21:47] drbyte opened #404 "[Proposal] Stop requiring /admin/ folder rename"
Feedback welcome ...

Proposal: Instead of throwing a roadblock up if the /admin/ folder is not renamed, instead just display a warning message inside the admin after logging in.

[2015-05-01 21:52] drbyte opened #405 "Should we have zc_install attempt to make writable dirs where needed?"
The zc_install inspection process currently only "reports" whether necessary folders are writable, and doesn't actually attempt to make the necessary changes.

Granted, it can't make any changes if permissions won't allow, but in cases where the server does allow it, we should make the necessary changes automatically.

[2015-05-01 21:59] drbyte opened #406 "[Task] New db query result loops to use foreach iterator instead of while !EOF...MoveNext"
Starting with v1.5.5 looping through database queries no longer requires the complex `while` loop, and can instead use a simple `foreach` iterator. This is more intuitive and more maintainable.

[code]

becomes:

[code]

This note isn't suggesting to engage in mass-rewriting. Instead, be mindful of the new construct, and use the iterator approach when writing new code.

[2015-05-01 22:02] drbyte opened #407 "[Proposal] Replace httpClient with Guzzle package"
Replacing httpClient (used by ups and usps and various older shipping modules) with Guzzle requires either rewriting those modules, or writing an interface to bridge httpClient to Guzzle.

Switching to Guzzle allows the 3rd-party module to be kept up-to-date instead of unmaintained like the httpClient code has been.

UPS Module for testing: https://www.zen-cart.com/downloads.php?do=file&id=1293

[2015-05-01 23:23] wiztechinc commented on #404
A roadblock it may be but it's dang effective. A message? Hmm, I got
clients who would start yelling at me and I've seen clients who almost
never log into admin - they fill orders from the order email!
ᐧ

Delia Wilson Lunsford
WizTech, Inc., (formerly Delia Wilson Design, LLC.)
434-202-4307
Terms and Conditions for working with WizTech, Inc.
(http://www.teamwiztech.com/terms-conditions.php)

On Fr

[2015-05-03 16:38] barco57 commented on #404
Why would your clients yell at you Delia...shouldn't you have already renamed their admin folders for them...

[2015-05-03 19:54] wiztechinc commented on #404
Oh, no, not because I did anything wrong!!

[2015-05-04 18:24] zcwilt commented on #406
:+1:

[2015-05-04 18:52] zcwilt commented on #404
Just some background here, and reasons to support the issue.

A long time ago, ZC admin was pretty insecure :(
It had little in the way of xss/xsrf protection and was subject to some other horrible vulnerabilities.
Obfuscating the admin directory was, at the time a quick way of mitigating against this.

Since then the admin code has been security hardened (and tested thru multiple PA-DSS validatio

[2015-05-04 18:57] wiztechinc commented on #404
Easier to upgrade, I must admit, if the folder is named admin. One thing that not having a standard admin folder name is that it cuts down on folks trying to hack in. So it's easier on the server (I suspect) since they are just getting a 404 in response now. Don't know if that really makes a difference or not but since I host sites as well, I appreciate them not finding what they are looking for.

[2015-05-04 19:07] drbyte commented on #404
Sigh. That choice of wording can be sorely misinterpreted by alarmists.

One thing you probably aren't aware of is that GoDaddy and other 1-click-install hosts have chosen their own "admin" folder name that's used on every install. So, while it's no longer called just "admin" (and therefore doesn't flag up the roadblock alert-page), it's really simple to guess a few common choices used by those ho

[2015-05-04 19:16] wiztechinc commented on #404
Too true. That's always bothered me with the automated installs. I see maybe a third or less of sites with zc_admin.  A third come with their own name and the rest are my own creation. Hard to know how widespread that is.

[2015-05-04 19:53] zcwilt commented on #404
Sure, of course it's possible to write contributions that totally compromise security. However that's true  whether the admin is renamed or not, and as I mentioned before relying on the obscurity leads to complacency.

We are moving towards having a much better API in admin code, such that writing contributions relies more on core code than custom code (e.g. https://github.com/zencart/zc-v1-series

[2015-05-04 22:02] wiztechinc commented on #404
Sounds like work for me!! But anything that betters zen cart, I'm all for.

[2015-05-07 03:17] drbyte commented on #372
It's no longer stripped down code-wise; it's only the config file that's abbreviated the button bar to more reasonable basics instead of unnecessary clutter.

[2015-05-07 12:17] wiztechinc commented on #372
That's definitely more appropriate use and having dealt with an editor before, I can add in more if necessary but I firmly believe that only bold and italic with headings and lists are the only formatting a customer should do.  One of the biggest problem with any editor is that the more you format and reformat, the more cluttered the code can get. Sometimes one has to dig into the source code in o

[2015-05-10 02:56] drbyte commented on #240
One of the things I forgot to mention in my earlier post to this discussion is that the choice of "CSS Framework" is also already built-in: Simply set `$template_framework` in the `template_info.php` file, and then use the observers mentioned above to set the necessary prerequisites to determine when/where to output the corresponding CSS/JS code in the HTML sent to the browser.

There are various

[2015-05-10 20:52] DivaVocals commented on #372
Perhaps the editor code should be examined to clean up some of the garbage it adds in. The nesting of inline font color, sizes, font faces that these editors do is aggravatingly awful..

[2015-05-10 21:07] DivaVocals commented on #404
I agree with @drbyte warning versus roadblock..

[2015-05-10 21:33] DivaVocals commented on #310
Right I looked at this and it seems to just add a level between your_template and default_template. I assume the allows two templates to "share" the same modifications saving me the trouble of reapplying common mofifications when changing templates? While this seems similar to my reference to WordPress, this is in fact a little different. In WordPress, any theme I install can be selected as the de

[2015-05-11 00:10] drbyte commented on #372
Perhaps, but keep in mind that the end user must find it usable, not crippled. Restricting it to satisfy the HTML purists may break usability for the average shopowners.

As with everything, finding the right balance is key.

[2015-05-12 09:36] DivaVocals commented on #372
I agree.. but geez.. it doesn't even clean up after itself.. If a shop owner is "trying out" fonts, colors, font sizes, the daggone thing just keeps nesting it's darn inline code.. YUCK!!!

[2015-05-12 09:36] DivaVocals commented on #398
:+1:

[2015-05-13 17:08] scottcwilson commented on #67
D-ohhh!  Can you give me repro steps and I'll give it another shot?

[2015-05-17 18:48] zcwilt commented on #67
Currently I'm not seeing a problem, albeit I just copied/renamed the English language fiiles/folders to create a 'French' language.

[2015-05-19 13:45] Spike00 opened #420 "Paypal Express Checkout - Shipping Address Issue"
The issue and a workaround (not yet tested, I'll test next days since I have a site duffering from ths issue) are explained here: https://www.zen-cart.com/showthread.php?186414-Paypal-Express-Checkout-Shipping-Address-Issue/page5&highlight=ADDROVERRIDE

[2015-05-21 16:14] scottcwilson commented on #405
Agreed!  And put up a super-obvious error if not allowed but permissions not satisfactory.

[2015-05-23 06:17] lhungil commented on #404
:+1: on warning instead of roadblock. Especially if the new Zen Cart installer requires one to log into the Zen Cart admin to "finish" the installation.

[2015-06-03 04:21] bislewl opened #436 "Group Pricing / Wholesale"
Perhaps the ability to offer wholesale pricing on a product/category level, would be much preferred for group pricing. Also the ability to offer certain customers additional products would be nice.

[2015-06-03 10:35] scottcwilson commented on #404
Am I the only one who will vote for the status quo?  If it's not admin, and the attacker isn't serious, they'll just move on - this is at least something. Why discard it for no reason?

[2015-06-03 10:57] wiztechinc commented on #404
I agree, Scott. I understand the reasoning behind this but if I have to choose I go for roadblock.

[2015-06-03 10:59] wiztechinc commented on #436
I almost never find a cart using the group pricing and frequently install the dual wholesale mod. Folks usually prefer a different price per each product and not a percent off all products.

[2015-06-04 23:55] barco57 commented on #404
I am 60/40 on change it versus status quo.....would the warning in the admin be perisitent? would it be shown once and then go away for a period of time? Would it be better to have a popup modal in the admin the first time someone logs into a new install with "Welcome to your new Zen Cart" and a list of probable things they should do first, link to forum, best practices, picture of Chris...lol, ok

[2015-06-05 22:23] drbyte commented on #404
What, you don't like my mug shot? :crying_cat_face:

[2015-06-09 18:52] ajeh opened #439 "Listing boxes sort order issue"
Listing boxes no longer display in the order set in Index Listing.
SHOW_PRODUCT_INFO_MAIN_NEW_PRODUCTS
SHOW_PRODUCT_INFO_MAIN_FEATURED_PRODUCTS
SHOW_PRODUCT_INFO_MAIN_SPECIALS_PRODUCTS
 SHOW_PRODUCT_INFO_MAIN_UPCOMING

There are other sets included in Stock settings.

[2015-06-09 21:53] ajeh opened #440 "customers authorization and guest checkout and Customer Approval Status set"
Need to allow for Guest Checkout to review orders when Customer Approval Status is not set to 0.

Looks like this affects:
init_customer_auth.php

[2015-06-11 17:22] #440 closed

[2015-06-16 17:25] #392 closed

[2015-06-18 20:11] Zen4All opened #446 "New layout countries / lanuages etc"
No issue, just wanted to say I like the new layout :+1:

[2015-06-18 20:12] Zen4All commented on #446
No issue, just wanted to say I like the new layout :+1:

[2015-06-19 22:39] zcwilt commented on #446
thanks :)

[2015-06-23 09:40] scottcwilson opened #451 "ALLOW_GUEST_TO_TELL_A_FRIEND still part of configuration"
This should be removed at some point in the future.

[2015-06-26 17:58] lukeengland opened #452 "fresh install and getting a blank page"
recently install v1.6 as a demo and getting blank catalogue and admin

http://www.lukeengland.com/cartdemos/zencartv1-6/

http://www.lukeengland.com/cartdemos/zencartv1-6/thiNk-HHC-Scoop

installed with no errors

[2015-06-26 18:16] zcwilt commented on #452
Do you have any entries in your logs folder.

[2015-06-26 18:26] zcwilt commented on #452
I guess also this may be a php version problem. What php version are you using.

[2015-06-26 18:31] lukeengland commented on #452
There isn't any files in logs I'm going to do a re-install now

Php version is 5.5

Sent from my iPhone

[2015-06-26 19:07] lukeengland commented on #452
i have checked all the logs with no error still having this http 500 error

[2015-06-26 19:09] lukeengland commented on #452
I have just notice these two errors in my log
---------------
Jun 26 2015 14:57 -- checkInitialSession
FAILED
(
    [sessionName] => zenInstallerId
)

Jun 26 2015 14:58 -- checkHttpsRequest
FAILED

[2015-06-26 19:09] zcwilt commented on #452
Are you checking the logs folder within the install.
e.g. ...cartdemos/zencartv1-6/logs/
Is that log folder writeable.

[2015-06-26 19:12] lukeengland commented on #452
new links

http://www.lukeengland.com/cartdemos/zencartv16/

http://www.lukeengland.com/cartdemos/zencartv16/plumS-vQy-stIff

[2015-06-26 19:14] zcwilt commented on #452
Neither of those errors should be fatal, when accessing admin/catalog

It's a while since I did a clean install (as opposed to just a git update)
I'll test again, and see what happens.

[2015-06-26 19:22] zcwilt commented on #452
k. yes there is a problem with the zip download

[2015-06-26 19:25] zcwilt commented on #452
For some reason it's not pulling in the Aura/Web/WebFactory which is used to handle http requests.
will try to debug/fix
Sorry :(

[2015-06-26 19:25] lukeengland commented on #452
few thought I was going mad

[2015-06-26 19:27] zcwilt commented on #452
do you have ssh access to your server ??

[2015-06-26 19:34] drbyte commented on #452
How much do you understand "git"?

If you do a `git clone` of the v160 branch, it should get the Aura stuff properly.

(This is because the Aura package is "linked" as a submodule, instead of putting all their code into our ZC repo here. The final release would have it all packaged as one zip, but the github downloads don't auto-expand-and-include the submodule stuff)

[2015-06-27 17:10] lukeengland commented on #452
brilliant guys all working now

[2015-06-27 17:10] #452 closed

[2015-06-30 09:02] bcsteeve commented on #452
Just trying this and getting the same blank pages.  I didn't do the git command above at first, so I figured that was it... but then I did (and it did d/l more than before) but still no love!  Just blank both store and admin.

It is certainly the same issue, but drbyte's git clone command didn't resolve it for me.  This is the error:

    [30-Jun-2015 10:57:13 Europe/Paris] PHP Fatal error:  Class

[2015-06-30 09:10] bcsteeve commented on #452
Found some advice on the forum.

    "git submodule init" and "git submodule update"

That worked.

[2015-06-30 09:15] bcsteeve opened #455 "Setup Wizard doesn't let me choose non-American zones"
I was going to report some nit-picky thing as I came across it, but then I don't recall you asking for advice :)  So I figured I'd ask.

I'll report the nit-picky thing so you have some reference:

After installing, you're taken to Initial Setup Wizard where you better be an American or else you can't choose a valid Store Zone.  At very least, "other" or "none" or "define in XYZ section" should be

[2015-06-30 09:26] Zen4All commented on #455
:laughing: I was about to report the same thing. The solution is already present in the store front when creating an account, so it should be pretty simple to copy that.
If the zc team has no objection, I'll be happy to take a look at it

[2015-06-30 09:49] lukeengland commented on #452
It took a bit of understanding of git for me but it works fine now

Luke

Sent from my iPhone

[2015-06-30 13:42] drbyte commented on #455
Try it out with v160 first. You'll see that the "interview" about zones etc is relocated to the "admin", and is no longer part of zc_install.  So, all zone options should be present there.  (The page admittedly still needs a bit of styling tweaking.)

Try it out and lemme know if that's what you were referring to.

[2015-06-30 14:05] Zen4All commented on #455
Sorry I now see it says 1.5.4, but I meant 1.6.0. And I think bcsteeve did to

[2015-06-30 14:22] drbyte commented on #455
Oh, evidently I misread it.

It's been awhile since I even looked at that part, but I thought it fully integrated all zone possibilities in the pulldowns.

Will have to investigate.

[2015-06-30 17:43] bcsteeve commented on #455
Yeah, I definitely meant 1.60 and no it didn't integrate all zones, just US one.

It isn't a big deal, but it is confusing unless the person at the very least knows they can adjust it later.  Unless it is needed for something (and evidently it isn't since I can't choose it correctly at setup) then I'd suggest just removing it during zc_install rather than giving yourself more work.

[2015-06-30 17:43] zcwilt commented on #455
@Zen4All I'm happy if you want to take a look at this.
Will assign you to the issue.

[2015-06-30 17:58] Zen4All commented on #455
:+1:

[2015-06-30 18:32] zcwilt commented on #455
I took a look at the code and it gets a bit complex

There is code to fire a change on the zones when the country changes. However to javascript is using old jquery validator (rather than Foundation validation) code, that is no longer included. So we get a jscript error, which stops the on change working.

However removing the old validator code, still doesn't help as the ajax call then isn't pass

[2015-06-30 19:04] bcsteeve commented on #455
really, consider just ditching it at that stage.  You already have it (working) in the Initial Setup Wizard post-install.

Frankly, that's one thing I always found annoying about ZC.  Invariably, every time I have to install I end up installing fresh probably 5 to 10 times in the first day.  Why?  Various reasons.  I screw up, I want to change something.. it always seems easier to fresh install.

[2015-06-30 19:11] drbyte commented on #455
In v154 you can already completely skip it by just aborting zc_install at that point. Then just login to the admin directly and set things there.

Or, are you saying you're installing `v160` 5-10 times in one day?

[2015-06-30 19:55] bcsteeve commented on #455
yes, I'm saying v160 5-10 times.  The version is irrelevant.  ZC vs other carts is irrelevant.  When installing something new, there is inevitably testing and trial and error.  I can say out of experience - because this is by no means my first kick at this particular can - that every single time I do an revamp or even just an upgrade, I end up doing a fresh install at least that number of times (s

[2015-06-30 20:04] drbyte commented on #455
Fair. Your point is fully made. You've been heard.

And, thanks for starting this discussion. The smaller things do matter, and sometimes certain angles aren't seen as often due to differing vantage points.

I was asking about "v160 multiple times" because it's not production-ready code, and am a little alarmed at the idea of it being used on live sites yet.

[2015-06-30 20:19] barco57 commented on #455
:anguished: after ~1000 upgrades/rebuilds I can say I have never gone through the setup process for any version of ZC that many times. I couldn't conceive of a workflow that would require it.

I do agree that the install process could probably stand to lose the store name, address, zone questions. Leave the install process to be only about getting the application talking to the database and settin

[2015-06-30 20:32] barco57 commented on #455
ok, it helps if I read EVERYTHING to see that some of this has already been moved out of the install process.....probably should try installing 1.6 myself again to re familiarize with it.

[2015-06-30 20:58] bcsteeve commented on #455
@drbyte Ahh, concern noted.  And no, not on a live site :)  I was just checking out what was coming down the pipe.

[2015-06-30 22:58] syntaxerror commented on #404
I've seen some system having a config setting for adding a "secret keyword", so you get a admin URL like "mydomain.tld/admin?mykeyword", and if it's missing there is a redirect to frontend happening.

Could it be something to consider instead?

[2015-07-01 09:28] zcwilt commented on #455
k, The fix actually isn't too complex.
Just to be clear here. We are talking about the post install wizard that runs first time you visit the admin, in v160

Firstly the javascript code related to  validation in tplStartWizard.php needs to removed.
Secondly need to change the url  related to the ajax for the store_country on change function to
`url: '<?php echo zen_ajax_href_link($_GET['cmd'], "ac

[2015-07-01 12:46] Zen4All commented on #455
I am still willing to have a go. I'll need a couple of days, have to finish some other work first.

[2015-07-01 16:45] zcwilt commented on #455
@Zen4All :+1:

[2015-07-01 18:01] #446 closed

[2015-07-01 18:14] zcwilt commented on #63
Closing this, as while there are still some issues
e.g. Need for cancel buttons
code seems to be working ok.

[2015-07-01 18:14] #63 closed

[2015-07-01 18:33] zcwilt commented on #455
@bcsteeve  Just to say as well.

if you find a bug or a workflow that isn't doing what it should, then posting that here isn't nitpicking, its contributing :)

The only thing I will say is, please don't currently post css issues. Admin and Catalog will be getting updates here soon, and we know there are issues.

[2015-07-01 19:08] drbyte commented on #455
Agreed! :+1:

[2015-07-06 16:22] ajeh commented on #75
This is fixed and working.

[2015-07-06 16:22] #75 closed

[2015-07-13 00:18] scottcwilson commented on #67
It has been several months now; I believe this issue was fixed in my original PR.  Also submitting a fix for #400.

[2015-07-13 17:33] zcwilt commented on #439
Just a note on this one.
Because listingboxes are now more flexible, the old defines are no longer used.
What's needed is a way to do CRUD stuff on the listingbox_* database tables.
Will do something for this, once I've finished up some other PR's I'm working on.

[2015-07-14 02:11] drbyte opened #461 "New: Improvements to the "receipt" on checkout-success page"
Improvements to the "purchase-receipt" on checkout-success page:

- [x] accommodate payment-receipt details (such as Interac payments or split-tender card-summary output reports), perhaps via a notifier hook that listens for necessary data and outputs in the correct spot of the page
- [x] provide hooks for PDF-Receipt option (generated by an appropriate plugin, firing only if a plugin is present a

[2015-07-16 18:51] drbyte opened #466 "error: class splitPageResults not found (catalog)"
PHP Fatal Error: Class 'splitPageResults' not found in ...
- modules/pages/account_history/header_php.php
- modules/pages/product_reviews/header_php.php
- modules/pages/reviews/header_php.php
- modules/product_listing.php

[2015-07-17 03:16] drbyte opened #472 "listingBox doesn't set className element"
HTML output is: `<div class="centerBoxWrapper" id="id">`

The template is trying to append a `className` element, but since className is not defined, it merely outputs `id="id"` instead of `id="idSomeClassName"`

[2015-07-17 16:11] zcwilt commented on #472
I guess as well, that `className` is not the correct naming.
Should really be `cssIdName`

[2015-07-17 16:20] zcwilt commented on #472
Hmm. that might not be the best name either
if you look at tpl_listing_box_columnar.php
I do
[code]

[2015-07-17 16:29] drbyte commented on #472
Ya. Perhaps `cssElement` might be more generically appropriate.  I'm not seeing a need to split it into both `id` and `class` details, as for the most part it's not requiring that much specificity.

[2015-07-17 17:20] ajeh opened #474 "Low Order Fee issue with Coupons and GVs"
If Low Order Fee is turned on and the order is lower than the `Order Fee For Orders Under` amount, if a Discount Coupon or Gift Balance is used that covers all of the order except the Low Order Fee itself the Order can continue without a Payment Module selected.

This appears to be an old bug as it can also be reproduced in v1.3.9, v1.5, v1.5.1 and v1.5.4

[2015-07-17 17:58] #67 closed

[2015-07-17 17:58] #400 closed

[2015-07-17 17:59] #466 closed

[2015-07-17 22:11] #472 closed

[2015-07-20 10:08] zcwilt commented on #474
Just adding this reference as a note to myself when debugging this.

https://www.zen-cart.com/showthread.php?106831-Done-v1-3-9-Problem-with-quot-credit_covers-quot

[2015-07-21 19:12] bislewl opened #483 "Add function for adding to TABLE_CONFIGURATION"
Almost every single module I write, I have to make some entries to the TABLE_CONFIGURATION, It would be really nice if there was a function that allowed this to happen with out having to type out SQL queries all the time.

Agree? Disagree?

function add_config_value(){
if(!defined()){
$db->Execute("INSERT INTO ". TABLE_CONFIGURATION....
}

}

[2015-07-21 19:38] drbyte commented on #483
Hmmm ... I'd written some code for that a long time ago, and clearly it never got included. Right now I've no idea where I left it.

Probably also useful to have some helpers for configuration-groups too, as well as removing config values.

For the purpose of similar naming of functions, I might suggest they start with `zen_config_`, like `zen_config_add_value()`, `zen_config_add_group()`, etc

Fo

[2015-07-21 21:41] bislewl commented on #483
Yes, that's the direction I was thinking. I'm referring to things like Ajax Back In Stock, Zen Light Box, Zencart Product Badges, Etc. Things that only fall into the Configuration Menu.  I guess this is more useful for auto-installers (which there could be a whole discussion on those pros/cons). When creating installers using this: https://www.zen-cart.com/downloads.php?do=file&id=1971 the files e

[2015-07-24 16:25] ajeh opened #489 "DISPLAY_PRICE_WITH_TAX_ADMIN vs DISPLAY_PRICE_WITH_TAX bug"
I agree that this is a bug in the Admin on the products_price_manager.php
https://www.zen-cart.com/showthread.php?217377-Products-Price-Manager-using-store-side-tax-definition

[2015-07-24 21:06] scottcwilson commented on #489
Tacked on to the 1.5.4 bug list.

[2015-07-27 14:11] #489 closed

[2015-07-27 22:11] bislewl commented on #139
Some basic things would be a great start!
* Configuration Changes
* Changing Specials
* Modify/Add/Remove Product/Category
* Modify Attributes (This could be useful for a mod like SBA)
* Modify/Add/Remove Admins

[2015-07-30 19:03] scottcwilson opened #506 "Fresh install produces an error log"
Did someone forget a checkin?

Scotts-MacBook-Air:logs scott$ cat myDEBUG-1438282920-321223.log
[30-Jul-2015 15:02:00 America/New_York] PHP Warning:  require(includes/modules/listingboxes/class.FeaturedProductsCenter.php): failed to open stream: No such file or directory in /Users/scott/Sites/demo_160/includes/classes/class.zcListingBoxManager.php on line 75
[30-Jul-2015 15:02:00 America/New_York]

[2015-07-30 22:11] scottcwilson commented on #405
Hmmm... just started getting an redirect loop on admin in 1.6.0 with a fresh install - I wonder if it's caused by an issue like this.

[2015-07-31 02:29] drbyte commented on #405
Well, zc_install does flag up relevant errors if the folders aren't writable.

It just doesn't attempt to change them.

[2015-07-31 16:28] scottcwilson commented on #506
@zcwilt This looks like your stuff.

[2015-07-31 16:31] ajeh opened #508 "Upcoming Products wrong Product Type"
On Upcoming Product the products_type is not correct and all Products, regardless of products_type are using Product General so they are creating links for product_info

[2015-07-31 18:23] ajeh opened #509 "Table name typos in listingBox refactoring"
A number of the files in the:
/includes/library/zencart/listingBox/src/boxes/

are using:
TABLE_PRODUCTs_DESCRIPTION

[2015-07-31 19:56] drbyte commented on #506
You're using old code. There's no more class.zcListingBoxManager.php to even make that call anymore.

[2015-07-31 19:57] drbyte commented on #506
See these PRs: https://github.com/zencart/zc-v1-series/pulls?q=is%3Apr+is%3Aclosed+listingbox

[2015-07-31 20:51] scottcwilson commented on #506
ARGH!  I am so used to going from a feature branch to master and that's what I did here that caused the problem.  Sorry for the false alarm.

[2015-07-31 20:51] #506 closed

[2015-07-31 21:49] #508 closed

[2015-07-31 21:49] #509 closed

[2015-07-31 22:04] drbyte commented on #420
While researching this I came up with several questions, which I've posted here: https://www.zen-cart.com/showthread.php?186414-Paypal-Express-Checkout-Shipping-Address-Issue&p=1288435#post1288435

[2015-08-01 16:12] ajeh opened #514 "Undefined Specials Page sort order"
There isn't a define for the Specials Page sort order for:
PRODUCT_SPECIALS_LIST_SORT_DEFAULT

[2015-08-01 16:16] drbyte commented on #514
Is this similarly related to #439 ?

[2015-08-01 16:35] ajeh commented on #514
I do not believe so.

Adding to the code:
            'filters' => array(
                array(
                    'name' => 'DisplayOrderSorter',
                    'parameters' => array(
                        'defaultSortOrder' => PRODUCT_LISTING_DEFAULT_SORT_ORDER
                    )
                ),
                array(
                    'name' => 'AlphaFilter',

[2015-08-01 18:05] drbyte opened #516 "Admin LEAD pages have problem with gzip and with session expiry"
When admin LEAD pages fire, if gzip is enabled the ajax calls fail.
And, when admin session times out the ajax also fails, without proper recovery.

@ajeh has some concrete examples

[2015-08-01 18:06] drbyte commented on #175
@ajeh Is this still an issue? Or was it resolved with the ListingBox code changes?

[2015-08-01 18:15] ajeh commented on #175
And silly things like the Product Description length and such :)

[2015-08-01 21:22] ajeh commented on #175
I am going to really have to go through this one more time as I am pretty sure a couple are out of place. It is a little dizzying matching up the counts.

[2015-08-01 21:26] drbyte commented on #175
Is it really necessary to have separate counts?  It's just as dizzying for the end-user having to set everything separately when I can't see any universally-relevant need to have so many unused options.

IMO for the 0.05% chance that someone needs separate granular control, they can change it in PHP.

[2015-08-02 14:52] ajeh commented on #175
MAX_DISPLAY_SPECIAL_PRODUCTS_INDEX - Specials Page
MAX_DISPLAY_SPECIAL_PRODUCTS - Specials Listing box
MAX_RANDOM_SELECT_SPECIALS - Specials Sidebox

MAX_DISPLAY_PRODUCTS_NEW - New Products Page
MAX_DISPLAY_NEW_PRODUCTS - New Listing box
MAX_RANDOM_SELECT_NEW - New Sidebox

MAX_DISPLAY_PRODUCTS_FEATURED_PRODUCTS - Featured Page
MAX_DISPLAY_SEARCH_RESULTS_FEATURED - Featured Listing Box
MAX_RANDOM_

[2015-08-03 16:25] #140 closed

[2015-08-03 16:26] #384 closed

[2015-08-04 18:25] drbyte opened #528 "zc_install - db install errors don't halt installer"
In `zc_install`, when db errors occur during db setup (while it's executing various SQL scripts), the error message pops quickly and then proceeds to next page suddenly.

[2015-08-04 18:29] drbyte opened #529 "New: Server Info page -add some MySQL status config settings"
Add to Server Info page

MySQL settings like:
- status of strict-mode (actual mode)
- status of slow-query-logging (on/off)

[2015-08-06 18:46] #474 closed

[2015-08-07 13:18] ajeh opened #535 "Terms and Conditions checked not checked issue"
When on the checkout_payment if the Terms and Conditions is checked but the payment module is not, you are given the warning to select a payment method. However the Terms and Conditions are now unchecked.

The message does not show about needing to check the Terms and Conditions the second time through. This is very aggravating especially if selecting credit card as that loses the credit card sett

[2015-08-07 17:39] drbyte commented on #535
The quickest end-user "fix" to this is to move the T&C segment of HTML in the template down to just above the payment choices or even below the payment choices.

Additional options include adding some javascript to alert on-page about the problem and to disable the Submit button if the T&C box isn't selected.

In practice, most of the literature I've read about T&C litigation says there's almost n

[2015-08-12 16:47] ajeh opened #536 "Also purchased is not doing a good select method"
Regardless of the number of Products purchased together, even if there are 100s of possible Products, only the first X matches ever show.

[2015-08-12 18:01] ajeh opened #537 "Music Products do not copy properly"
Music Products do not copy properly and miss the media when:
Copy any Media Manager collections associated with this product.
is checked to do so.

[2015-08-13 16:45] apmuthu opened #538 "address_format_id = 7 is for Australia"
Line 2043 in ZenCart v1.5.4 of zc_install/sql/mysql_zencart.sql:
[code]
should be
[code]

[2015-08-13 17:04] zcwilt commented on #538
Hi Thanks for the post.
This has been fixed in v1.6.0
See https://github.com/zencart/zc-v1-series/commit/c128b7d3da3a5a0bd38ac7d0752d0ab0157bff7d

[2015-08-13 18:09] #529 closed

[2015-08-13 18:09] #537 closed

[2015-08-13 18:10] #535 closed

[2015-08-13 18:15] #536 closed

[2015-08-19 15:53] scottcwilson commented on #538
I think this issue can be closed.

[2015-08-19 19:50] #538 closed

[2015-08-26 19:03] lat9 commented on #451
FWIW, that comment also applies to the /email/email_template_tell_a_friend.html file.

[2015-08-26 19:14] lat9 opened #544 "Update admin_html_head.php to allow inline CSS additions"
In the current implementation of the standardized admin HTML header, there's a provision for a page script to identify additional CSS **files** to load, but there's not a way for a page to specify in-line CSS additions.

My preference, FWIW, for the admin-level plugins I've created, is to include both the additional CSS and javascript **in-line** to reduce the number of files shipped for the plugi

[2015-08-31 14:37] ajeh opened #545 "Coupon percentage off, free shipping and taxes"
See:
https://www.zen-cart.com/showthread.php?217875-coupon-percentage-off-free-shipping-and-taxes

Moving the $ratio in case 'E' and 'O' below the $od_amount['total'] should fix the issues on the calculations.

[2015-08-31 17:53] zcwilt commented on #545
You just know I love working on Coupons/taxes :)

[2015-09-10 19:18] DivaVocals commented on #544
Would this be similar to how you added Font Awesome to the CSS buttons module???

[2015-09-10 19:22] DivaVocals commented on #436
Playing devils advocate.. why does it have to be ONE or the OTHER.. can't BOTH options be offered?? Don't use the one that does not suit your situation..

[2015-09-10 20:11] lat9 commented on #544
Nope, it's based on the ZC 1.6.0 admin restructuring.  The new, common, header processing provides for an add-on admin page to specify a css **file** that should be loaded, but doesn't make the provision for the specification of in-line CSS.

[2015-09-15 06:42] robryanx opened #558 "Paypal EC Funding Source Errors 10422 or 10486"
I notice when PayPal returns the errors 10422 or 10486 the intended behaviour is to return the customer back to PayPal.

 if ($response['L_ERRORCODE0'] == 10422 || $response['L_ERRORCODE0'] == 10486) {
       header("HTTP/1.1 302 Object Moved");
       zen_redirect($this->ec_redirect_url);
       die();
}

I believe though that the: $this->ec_redirect_url will be blank because it is set in ec_step

[2015-09-15 16:08] drbyte commented on #558
Good thought. I'll take a deeper look at it. I'm pretty sure I tested that part specifically when making that change, but I could be wrong, and there's no harm in retesting!

NOTE: That segment of code is only in v160, not in the currently-released v154. Are you referring to actively using v160 code on a live site?

[2015-09-15 22:13] robryanx commented on #558
Ah yes, it looks fine in v154.
I use an older version but ported these specific changes.

[2015-09-20 14:55] lat9 opened #561 "zcInstall*.log files trigger admin warning"
I just installed v1.6.0 from the master branch (went very smoothly).  When I navigate to a non-home-page in the admin, though, I'm seeing the messages:

The only files in the logs folder are the four `zcInstall*.log` files.  Shouldn't only the `myDEBUG*.log` files trigger those warnings?

[2015-09-21 20:19] drbyte commented on #561
Or maybe we need to offer an option to delete the `zcInstall.log` files?

(There are 2 different types of zc_install log files ... one for recording normal flow, and one for actual PHP errors.)

Or, since you're "logged in to the Admin" at this point, perhaps auto-deleting the zc_install log files is appropriate at this point?

[2015-09-22 11:25] lat9 commented on #561
Are the zc_install logs that contain errors named differently?  My preference, not being a big fan of auto-deleting files, would be to alert the admin to the presence of those logs that are spontaneously generated (i.e. the admin cannot control their generation via a configuration setting) and identify errors to be investigated (e.g. `myDEBUG*.log` and the zc_install *flavor* that identifies error

[2015-09-23 08:11] Zen4All opened #566 "LEAD pages are missing a cacel button"
When in the admin you are adding or editing a value from for example a country. There is no cancel button to return to the previous page. I know I can just click on an item in the left menu, but I think a less experienced user might get confused.
Steps taken to:
- In the admin go to Locations / Taxes -> Countries
- Click Add country
- Now you will see only a "submit" button and no "Go back" or "Ca

[2015-09-23 08:12] Zen4All opened #567 "LEAD page Zone definition does not add All zones by default"
When adding a country to a tax zone definition and you do not select a zone you will get an empty value
- Go to admin -> Locations / Taxes -> Zone Definitions
- Click "Edit Sub Zones" behind a Zone Name
- Click "Add Zone Definition" on the left
- Select a country from the drop down
- Click Submit

You will now be return to the Zone Definitions list, and you can see the country added, wit no value

[2015-09-23 16:20] zcwilt commented on #566
Hi. yes this has been noted and I will get around to adding the cancel button.
Thanks

[2015-09-25 19:22] jtwebsitedesign commented on #404
I may be a little late to this conversation, just wanted to chime in. I agree that it's a good idea to keep the added layer of security, and I think strictly enforcing the rename would avoid any oversight.

What about simplifying the admin rename process? Perhaps adding a field on the main setup page called "Admin URL" so the user can set it there, and it auto-renames the directory as part of the

[2015-09-29 18:44] #455 closed

[2015-09-29 19:55] drbyte opened #570 "Add 2-factor-auth support to admin login"
Architectural changes are needed to improve the 2-factor-auth capability of the Admin.
- [x] Admin users' phone number is already in v160 admin
- [ ] Generate QR code\* and store its key after confirming it with the user
- [ ] Prompt for entry of code upon login and validate it

  \* The QR code generation and validation of entered "code" could be implemented by integration with a 3rd-party servic

[2015-09-29 19:58] drbyte opened #571 "Add admin-side re-authenticate capability for sensitive areas"
Task: add re-authenticate capability to admin for situations like:
- [ ] friendlier admin page-timeouts
- [ ] SQL Patches
- [ ] admin activity log purging
- [ ] payment-refunds via admin order screen
- [ ] changing any PCI settings
- [ ] editing payment module settings such as API keys or passwords so these can't be inappropriately changed/viewed

[2015-09-29 20:11] bislewl commented on #570
What are your thoughts on how this would be done?

[2015-09-29 20:29] drbyte opened #572 "Convert admin Reports to use new easier QueryBuilder infrastructure"
The updated admin pages (search github closed issues for `LEAD` pages) and the catalog-side ListingBoxes use a new set of QueryBuilder classes to dynamically load data which can make reporting a lot simpler than the legacy reports operate.

The QueryBuilder and ListingBox infrastructure documentation is (partially) available at http://docs.zen-cart.com/Developer_Documentation/1.6/

Ideally this ne

[2015-09-29 20:32] drbyte commented on #570
Ideally it should hook into existing (or maybe additional) notifier hooks.

But some UI changes will be needed to throw up the necessary input box for the 2FA token to be entered.

Ideally it should be provider-agnostic, so that services such as `Authy` and `Duo-Mobile` and maybe even `Google Authenticator` can be used. (The latter is only available as a SmartPhone App, but the others can also sen

[2015-09-29 20:33] drbyte commented on #570
I think it will also require a bit of changing the logic for how existing login happens.

This issue also has relationship to #571

[2015-09-29 20:36] drbyte opened #573 "Fix CSS/styling of Admin for LEAD pages"
On the pages which use Foundation for grid/css/ajax, fresh styling is needed.

On the pages which have not yet been converted away from nested tables, some compatibility styling needs to be added, as there are display problems with margins and fonts.

[2015-09-29 20:40] drbyte opened #574 "Javascript Consolidation"
Task: Consolidate javascript and jQuery scripts into fewer shared files in both admin and catalog (except what's shared by both).
Currently many are scattered all over instead of being centralized.

Ideally:
 - one shared js script for validations that are used by both catalog and admin
 - one admin-specific js script, covering all common needs across admin
 - one catalog-specific js script, which

[2015-09-29 20:41] drbyte commented on #574
NOTE: An open PR exists for changes to checkout flow, where several js components are being redone too.

[2015-09-29 20:47] drbyte opened #575 "Question: Pros/Cons of MobileDetect library?"
Looking for feedback on benefits AND DANGERS/challenges of implementing the popular [MobileDetect](http://mobiledetect.net) library, at least catalog-side.

And also recommendations for implementation which minimizes URL-redirect-with-added-GET-params (which has caused ugly SEO-related problems in sites where I've seen MobileDetect used).

[2015-09-29 20:50] drbyte opened #576 "Provide admin setting for choosing timezone"
Considering adding timezone setting to admin and database, and a method to the db queryFactory to set the timezone; then make both initSystems set the timezone (to both PHP and the db connection) after it's been read from the db. Note the chicken/egg situation described there.

This would potentially replace the timezone files currently in the extra_configures files in both admin/catalog.

The pro

[2015-09-29 21:12] bislewl commented on #570
Google Authenticator has desktop solutions including an extension for chrome and there is a github repo for someone who has done most of the work. https://github.com/PHPGangsta/GoogleAuthenticator.

I like your Idea of notifier hooks, as it is extendable. Not to make it overly complicated for the shop owners but they could add 2-factor authentication to other actions they choose, perhaps: They wis

[2015-09-29 21:22] bislewl commented on #575
Honestly, from experience I have found the MobileDetect features in some templates to make life more difficult. During Development I have to run emulators to try and recreate the device. I usually see the template using an if/ifelse/ifelse/else. And than it doesn't always work, so I have to track down someone with the same device as the customer has to recreate the problem. Additionally because of

[2015-09-29 21:22] drbyte commented on #570
It does run the risk of making things overly complicated. I think that the implementation should make it possible for it to be triggered for those, but not impose it. I imagine most would say that putting 2FA on anything more than login causes unnecessary inconvenience when a password will do (since the 2FA was already done in order to get to the screen where those other actions are triggered). Th

[2015-09-29 21:34] bislewl commented on #570
I agree, require it just at login. And then offer others via notifier hooks to shop owners?
Couldn't we use something like: $_SESSION['navigation']->set_snapshot(); so we can redirect them to the correct page after authentication. Versus the current $_GET['camefrom']?

[2015-09-29 21:37] drbyte commented on #570
Eeks. I hate that navigation class. Perhaps more than just `camefrom` may be necessary. But without a modernization of the nav class I shudder at adding it to the admin too.

[2015-09-29 23:35] jtwebsitedesign commented on #571
I would also suggest: when changing any admin user credentials (password, email, etc)

[2015-09-29 23:36] jtwebsitedesign commented on #436
I agree, both options should be offered. However, bislewl has a point about slightly improving the core group pricing feature. If pricing by category were implemented, that would greatly reduce the number of Dual Pricing installations that would otherwise be overkill on many sites.

[2015-09-29 23:41] jtwebsitedesign commented on #544
Hmm, just my two cents, but it is probably better to keep CSS in a separate file for easier maintenance/upgrades. By in-line, do you mean style="" inserted throughout the file, or <style></style> tags in the header?

[2015-09-29 23:47] jtwebsitedesign commented on #398
Agreed. However, due to jQuery version conflicts (which happen all too often), it's still nice to be flexible and load jQuery and Javascript files in any order necessary. I currently do that by renaming .js files so they auto-load in sequence, but not sure how others do it.

[2015-09-29 23:50] jtwebsitedesign commented on #357
Yes! This would be a BIG feature for a lot of stores. Especially those that specialize in arts/media and need uploads in excess of 100mb (I've had this request a few times!). I'm a big fan of Dropbox, good API documentation too.

[2015-09-30 00:17] jtwebsitedesign commented on #575
Agreed, MobileDetect can cause issues in some cases. I find that most responsive designs work fine with simple CSS @media rules. Is there a particular situation that is requiring more comprehensive mobile detection?

[2015-09-30 00:20] jtwebsitedesign commented on #573
This sounds like something I could really help with, if you'd like me to give it a shot?

[2015-09-30 01:05] drbyte commented on #571
Do you mean when changing one's own credentials, or anyone's?

[2015-09-30 11:13] lat9 commented on #544
@jtwebsitedesign, that's true for the "base", out-of-the-box, Zen Cart styling, but I'm more focused (with this issue) on support for admin-level plugins.  Like I said above, it's my personal preference (for the admin-level plugins I develop) to keep the **additional** styling used by that plugin as part of the plugin's base code.

That way, there's one less file to install for the plugin and it h

[2015-09-30 16:10] jtwebsitedesign commented on #544
That's true that there would be one less file for the plugin, but I'm looking at it from a store manager's perspective when upgrading the cart. When core files are overwritten, the less inline code that is changed in that core file, the better.

It's helpful for any code changes to be a large chunk of commented code like <! -- start [module name] here -- >, rather than inline CSS sprinkled through

[2015-09-30 16:12] jtwebsitedesign commented on #571
Yes, I think doing both would be very secure.

[2015-09-30 17:24] lat9 commented on #544
Jackie, my focus is on separately-developed admin plugins.  The "issue" is that, in the updated ZC 1.6.0 environment, that **all** the admin header-processing (the head tag) happens when the "page" issues a:

require('includes/admin_html_head.php');

It's the processing in that module that I'm requesting be changed so that additional CSS, which I called in-line but I meant as in-lined into a &lt;s

[2015-09-30 18:11] bislewl commented on #398
Overall: :+1:
1. From a CDN or locally?
2. Loading the migrate as well
3. I assume the minified version?

[2015-09-30 18:30] zcwilt commented on #567
Agreed, the -1 in the database is incorrect. If you manually change the -1 to 0 then 'All Zones' shows up in the display.

[2015-09-30 18:36] zcwilt commented on #567
The problem appears to be in the select2 handler code.
Select2 is a javascript library we use to draw the nifty drop down selectors.
I think I have a fix for this :)

[2015-09-30 18:37] Zen4All commented on #567
:+1:

[2015-09-30 18:50] zcwilt commented on #561
I'm wondering if we can delineate log files further using a naming convention.
e.g.
something.error.log would be a log that gets flagged in admin
whereas
something.info.log doesn't

[2015-09-30 18:57] drbyte commented on #561
Perhaps, but presently none of our error-logging mechanisms indicate the "severity" of error via the filename.

[2015-09-30 19:23] zcwilt commented on #561
Sorry. may not have explained exactly what I meant.

I don't mean that the naming convention should match the error severity.
Only that they should denote how the error log is managed in admin.

So, the logs produced by installer would be info.logs
myDebug type logs would be error.log files.

Logs produced by say payment processors would either be info.log or error.log depending on the error reaso

[2015-09-30 19:30] drbyte commented on #561
The immediate issue that @lat9 was referring to is actually a bug:

When we switched to `DIR_FS_LOGS` for storing our debug logs, we missed one occurrence where `DIR_FS_SQL_CACHE` was still used. I'm submitting a PR which will cause the requisite cleanup to remove the non-critical log files, after which the false-positive @lat9 mentioned will no longer occur.

[2015-09-30 19:42] drbyte commented on #544
@lat9 I'm wondering if this fact helps solve your problem ...

The `require('includes/admin_html_head.php');` *opens* the `<head>` tag, but does *not* close it.
You can easily insert your own `<style>...</style>` code immediately after the require, or at least sometime before the closing `</head>` tag a couple lines later.

Would that accommodate what you're after? It certainly means you wouldn't

[2015-09-30 19:47] lat9 commented on #544
Sure it could; I was under the impression that the &lt;style&gt; tags, for valid HTML, needed to be before the &lt;script&gt; tags.  If that's not true, then the mechanism you indicated (inserting any CSS styling prior to adding the closing-head-tag) works just fine.

[2015-09-30 19:50] drbyte commented on #573
Sure. Initial focus should be:
- [ ] Pages using the new LEAD layout such as everything under "Locations/Taxes" and "Localization" menus. These are all using Foundation as the CSS framework. The look/feel is just the out-of-the-box Foundation styling, which hasn't experienced a Designer's love yet.
- [ ] Home Page  (has some jQuery UI stuff, uses ajax for the widgets, and Foundation)
- [ ] All the

[2015-09-30 19:58] drbyte commented on #544
I'm pretty sure it's not necessary for "valid HTML".

But, some purists will say you should put `<style>` content before `<script>` just so that you don't get a "flash of unstyled text" while waiting for the `<script>` stuff to load.

Unless you're dealing with a bunch of extremely elaborate inline styling I don't think it's going to matter. And if you do need complicated styling, then a .css file

[2015-09-30 21:55] #566 closed

[2015-09-30 21:59] #567 closed

[2015-09-30 23:53] jtwebsitedesign commented on #544
Thanks for clarifying @lat9, sounds like we're both on the same page. Sorry for complicating things :/

[2015-09-30 23:56] jtwebsitedesign commented on #573
Ok sounds great. Just give me a little time to review those coding standards and setup, then I'll jump right in!

[2015-10-01 17:23] #561 closed

[2015-10-01 17:56] scottcwilson commented on #572
I will do my best to do this.  I will update once I start - hopefully this month.

[2015-10-04 20:29] drbyte commented on #570
Related reading: https://m.joind.in/event/phpnw15/secure-your-web-application-with-two-factor-authentication

[2015-10-04 20:39] drbyte commented on #570
And then there's the 2FA `FIDO` standard that Github and other big players are now supporting too: https://github.com/blog/2071-github-supports-universal-2nd-factor-authentication

[2015-10-05 10:04] scottcwilson commented on #374
@Zen4All #63 is done.

[2015-10-05 10:18] scottcwilson commented on #69
@zcwilt I have looked through the code and don't see anywhere that this is happening - can you give me the URL that triggered the FP?

[2015-10-05 10:36] Zen4All commented on #374
:thumb: I'll start work on a new branch

[2015-10-05 10:48] scottcwilson commented on #406
Did this one with admin/customers.php.

[2015-10-05 15:05] scottcwilson commented on #346
Someone asked me just the other day if sort order on products could be implemented using drag and drop.  Possible with the new LEAD stuff?

[2015-10-05 15:32] Zen4All commented on #374
These new LEAD pages rock!! :tada:  It makes it really simple to add stuff. After a quick study of the other lead pages, it only took a few minutes to add my own tables and fields

[2015-10-05 16:20] scottcwilson commented on #374
What's the best LEAD page template to look at to learn the new system?

[2015-10-05 17:01] zcwilt commented on #374
You could take a look at https://github.com/zencart/zc-v1-series/pull/587
As it shows how to add new lead pages.

[2015-10-05 17:04] zcwilt commented on #374
I've also opened a boilerplate for Admin LEAD docs at http://docs.zen-cart.com/Developer_Documentation/1.6/code_docs/admin_lead_pages/introduction
Will hopefully have that updated this week, and you can follow updates at
https://github.com/zencart/documentation

[2015-10-05 17:07] zcwilt commented on #69
Let me take a look again. It maybe it was fixed as part of our last PA-DSS round.

[2015-10-05 17:10] zcwilt commented on #69
e.g.
https://zen.local/admin/index.php?cmd=product_free_shipping&page=1&product_type=5&cPath=64&pID=172&action=new_product

change the product_type parameter to 99

[2015-10-05 17:30] Zen4All commented on #374
Because I needed something with multiple tables, I primarily used
* includes\library\zencart\listingBox\src\boxes\AllProductsPage.php
* includes\library\zencart\listingBox\src\boxes\LeadOrdersStatus.php
* includes\library\zencart\listingBox\src\boxes\LeadRecordArtists.php

This gave me enough info to deduce the new code for the multilingual country names.

[2015-10-05 17:34] zcwilt commented on #374
@Zen4All Glad you like the new stuff. Don't forget, if you are having any problems, open a new issue and tag @zcwilt and I'll be pleased to help.

[2015-10-05 17:57] Zen4All commented on #374
:thumbsup:

[2015-10-06 13:41] ajeh opened #590 "Admin Customers error #588"
Change to Admin customers.php line: 1171
                                 where countries_id = '" . (int)$customers['entry_country_id'] . "'");
needs to be:
                                 where countries_id = '" . (int)$customer['entry_country_id'] . "'");

[2015-10-06 17:27] #590 closed

[2015-10-07 18:38] bislewl opened #594 "Store Pickup & Ship To Address"
Something struck me as odd. When Store Pickup is selected. The customer's ship to address is in the order. However some store-owners/employees don't look at the shipping method and just ship regardless.

Shouldn't the TABLE_ORDERS.delivery_\* fields either be left empty or say something like store pickup? Ideally the store they selected (if there is multiple)

[2015-10-07 19:54] drbyte commented on #594
Good point.

Some challenges:

1. Mustn't store that information until the customer confirms the purchase (else the physical ship-to preference would get lost in case they want to change their mind and ship it).

2. The `order` class currently uses the customer's selected ship-to address when storing address details into the db.

3. If the store-pickup address is to be shown on-screen during check

[2015-10-07 20:43] bislewl commented on #594
My thought was for current versions (hackish style none the less) create an observer that after the TABLE_ORDERS.delivery_* fields are saved go back in and wipe those fields it out if the shipping method is store pickup, and add the store selected.

For future versions I have 2 thoughts.
1 Hide the shipping address with JS (when selected)
2 Not save the shipping address when saving the order, sort

[2015-10-08 15:19] scottcwilson commented on #575
You could make it optional and provide the ability to set a mobile template and a desktop template.

[2015-10-08 15:21] scottcwilson commented on #572
Do we have any Querybuilder docs yet?  The link you gave only has ListingBox info.  Is Querybuilder ready to use?

[2015-10-08 17:18] #69 closed

[2015-10-10 15:25] zcwilt commented on #572
Hi Scott.
I know you are raring to go on this one, but I think we need to have a bit more thought on the reports stuff.

While reports could share a lot of common features with the new LEAD stuff, there are other things that are needed for a general reporting infrastructure that aren't there yet.

This would include.

* The general structure of a report page(html/css)
* The need for column orderin

[2015-10-12 14:17] Spike00 commented on #575
I'm not using mobile detect, but I'll probably switch to it. Actually I'm using custom check for just User-Agent.
I make the check in init_templates. And assign convenient value to Session variable. Then in get_template_dir I added a check for an extra dir. This way whatever the template is in use, it can be mobilized just creating a subdir (inside the 'your_template' dir) in which to place mobile

[2015-10-13 17:03] IronLady commented on #575
### Pros
1. Better Load Speed

### Cons
1. We have to use conditional statement to achieve different result for different device. With RWD, we can just set the class name and give different style for each viewport
2. We have to "sync" the library. I see that they just build an array of devices and if there are some new devices with different user-agent launched, they need to append it to the array

[2015-10-13 17:12] wiztechinc commented on #575
Using something that detects user agents gets problematic because of future changes to user agents. I tried it at first but there is no way to test an installation to make sure it all works. Felt like I was driving blind. There has to be a better way.

[2015-10-15 12:40] scottcwilson opened #603 "Language define consolidation - Model Name"
If you look at a string like Model, it's defined 13 times in the catalog and 33 times in the admin.  Now some of these are different from others, but if you just consolidated (say) TEXT_PRODUCTS_MODEL, you'd get a dozen of them.  What if we promote these to the includes/languages/english file in the catalog and admin?

[2015-10-15 16:37] barco57 opened #604 "Admin Widget Styling (overall admin look and feel)"
I have been playing with the widget styling, they needed some love, but I am wondering what the "Vision" is for the admin look and feel? Has there been any conversation about it?
Below is something I came up with for the widget styling that is pretty neutral.
![admin_index_widget_styling](https://cloud.githubusercontent.com/assets/1237035/10520663/fc7a3b2c-7330-11e5-920e-1c15dd68500f.png)

[2015-10-15 17:12] drbyte commented on #604
That's a great improvement.

Is that all just done with CSS, or additional file changes needed?

Whether additional changes happen later or not, I'd be glad to include this now.

[2015-10-15 17:17] bislewl commented on #604
:+1:

[2015-10-15 17:25] barco57 commented on #604
Just CSS Styling

If I could only figure out git, github, pull requests....LOL

[2015-10-15 17:34] drbyte commented on #604
Excellent!

[2015-10-15 17:34] drbyte commented on #604
Well, the first step is creating an issue, so you've got that part down! :clap:

The next is setting up your machine with git, cloning the github code, making a branch, making the code changes, and then pushing that branch to github and click the button to formally trigger the pull request. That's all described here: http://docs.zen-cart.com/Contributing/main/github_workflow

If you're stuck in th

[2015-10-15 17:57] barco57 commented on #604
ok, I think I figured it out and there is a pull request sitting there....Yeah me!

[2015-10-15 18:07] drbyte commented on #604
Yay! :tada:

[2015-10-15 18:55] drbyte commented on #603
Depends how much consolidation you're thinking of. Multiple definitions are there for ease of overriding it at a granular level. ie: product-type-specific, template-specific, site-wide

I do think there may be a bit too much flexibility there (resulting in more work when wanting to rename it to something else site-wide, or translate, etc).

Are you saying the same constant is used too often, or th

[2015-10-15 18:57] #604 closed

[2015-10-15 20:40] barco57 commented on #573
at the bottom of normalize.css is the following:

[code]

adding to the bottom of stylesheet.css

[code]
Seems to solve 99% of the issues I have seen, and doesn't appear to affect the new LEAD pages as far as I can tell.

[2015-10-16 01:05] barco57 commented on #576
...or add a question to the install process and either write the timezone to the file where it's currently stored or add it to the database at that time...

[2015-10-16 01:47] drbyte commented on #573
Yup, that certainly helps with the table stuff. I've initiated pull request #609 with that change.

[2015-10-16 01:51] drbyte opened #610 "Admin - CSS for Widget "edit" dialog needs font tweaks"
Steps to create the problem:

1. Login to Admin
2. On admin home page, click the "edit" button in the top right of any widget box.

Note there how the dropdown menu needs some font styling improvements.

[2015-10-16 01:54] drbyte opened #611 "Admin - Styling improvements for "Setup Wizard" dialog"
TWO WAYS TO GET TO THIS SCREEN:

1. Via fresh install
a) Do a fresh install.
b) Login to Admin for the first time. (Follow the password reset prompt if it occurs.)

2. A simple reset in an existing install
a) Login to Admin
b) Go to Admin->Configuration->My Store and make either the store name or store owner be blank. Then save.

Note the setup wizard dialog, which needs some designer love.

[2015-10-16 14:29] IronLady commented on #573
Add a little touch to the fonts would be nice. Maybe use a google fonts.

[code]

[2015-10-16 16:03] #610 closed

[2015-10-16 19:51] scottcwilson commented on #603
The latter.  And overriding at a granular level *can* be done by adding the define if it's truly needed - but this is an edge case that we're treating like a common practice.  If you call model "Part Number" you should only have to make this change once.

[2015-10-19 04:18] bcsteeve opened #625 "Code suggestion: default use of html5 "email" data type"
This just came up as I was re-doing my template and had to edit half a dozen forms.

When a user is asked to input an email address, the data type for that field should be "email" not "text".  It is a safe change because the default "text" input type will be the fall-back if the browser doesn't support the new data type ([source](http://www.wufoo.com/html5/types/1-email.html)).

The advantage is a

[2015-10-20 17:51] zcwilt opened #630 "heckout v160"

[2015-10-20 17:52] #630 closed

[2015-10-22 17:19] #603 closed

[2015-10-22 17:23] #271 closed

[2015-10-23 02:48] robryanx commented on #575
I currently use it to look for the "_mobile" template directory if it indicates mobile in init_templates.
Makes sense at least in cases where people have 2 separate templates.

[2015-10-23 14:31] Spike00 commented on #575
I believe that server side detection (which does not rely only on  does not imply that the desktop template must not be RWD. Let's have both the possibilities: if someone does not want or have the budget to manage two different templates, she will go with just one, RWD (just disabling the feature). But who may afford it, can get the benefits of both the solutions: server side detection which load

[2015-10-24 15:50] #451 closed

[2015-11-01 16:22] ajeh opened #643 "Product Price Manager cannot add Quantity Discounts"
When trying to add Quantity Discounts from Product Price Manager, you can click edit, but then click Add Blanks and get a Forbidden.

Back up and see the 5 blanks. Now you can edit again and add the discounts or click update to have the discounts removed.

[2015-11-03 05:09] drbyte commented on #643
Turns out that was an artifact of having Apache's mod_`evasive` enabled and configured with only default settings, and the add-discounts-plus-redirect-back-to-same-URL was being flagged as DoS-like activity, hence the 403 response.

[2015-11-03 05:09] #643 closed

[2015-11-03 06:09] drbyte opened #644 "A non-superuser Admin gets "Denied" when accessing Banner Statistics page"
Permissions for `banner manager` don't also cascade to `banner statistics`.

(And the `banner stats` widget permission setting isn't tied to the `banner statistics` *page*)

[2015-11-06 10:26] robryanx opened #646 "Coupon Codes Leaking Via popup_coupon_help"
Currently someone can load this page with each sequential coupon id to retrieve all the coupon codes.

I don't think that there is any issue with changing the page to use the coupon code itself for lookup, being a popup I think it is unlikely that it would be commonly bookmarked/ directly accessed.

I might submit a pull request for this if I get time.

[2015-11-06 14:33] ajeh commented on #646
I can change the cID to display "information" about the Discount Coupon but where do you see the actual Discount Coupon redemption code?

[2015-11-07 04:09] robryanx commented on #646
Sorry, yes you are correct.
Looking again the issue for us is that we just use the coupon code as the coupon name.
I wonder if it would still be best to pass the code so it wouldn't be possible to grab all the coupon data. (minus the actual code as you pointed out).

[2015-11-07 14:17] ajeh commented on #646
Many want that title to show.

Any reason not to change your policy of using the Discount Coupon title to something other than the redemption code?

It is something to think about.

[2015-11-07 19:14] ajeh commented on #646
This could be helpful as some, may like use the Discount Coupon redemption code as the Title and others might reference the redemption code in the Discount Coupon description.

[2015-11-08 02:49] robryanx commented on #646
Nah, no reason not to change it, it is just something I hadn't considered previously and it's interaction with this page.

Not sure how common it is with others but by requiring a name it might lead a lot to simply copy paste the come into the name.

I don't think there would be anything stopping say a coupon site to write a crawler to grab every coupon name and then test to see if it is accepted.

[2015-11-08 21:06] zcwilt commented on #644
Not sure how to address this.
There is no easy way to cascade the perms for banner stats from banner manager.

We could add an entry into admin_pages for banner_stats so that it would appear in the list of pages to authorize. However this means admin would have to `auth` both banner manager and banner stats for a profile.

[2015-11-21 01:58] lhungil commented on #594
I think it would be best to place the actual "Ship To" address in the order. So in this case, the actual store's physical address (possibly using an observer).

Short term, probably easiest to have the shipping information be configuration options in the "Store Pickup" shipping module... Which would support multiple different store pickup options without impacting the database or other modules...

[2015-12-01 03:01] jtwebsitedesign commented on #573
My apologies for taking so long on this. It took a little time to get setup, and then I got quite busy these past few weeks. Anyhow, I've made some changes and submitted a pull request. A couple notes:

- I mostly focused on the first item on your list: Locations/Taxes and Localization, as well as a few general edits to repair interfering components.

- I normalized the line endings, as described

[2015-12-01 03:53] drbyte commented on #573
Hi Jackie, thanks for this!

A couple changes would make this easier to integrate:

- [ ] can you split the normalizing of line-endings into a separate pull-request? (that means you'd need to create separate branches for the line-endings thing, and another for your admin re-styling work).  This will help us because it's important to ensure that a "formatting-only" change should not change anything

[2015-12-02 01:41] jtwebsitedesign commented on #573
Sounds good. I just submitted a pull request for the line endings. Thanks for explaining the usage of the foundation files. I'm working on moving the edits and will submit a new request for that later. I'll post back here when ready!

[2015-12-02 03:07] drbyte commented on #573
Another note of clarification: It may be awhile before we merge your other PR about changing the line-endings. That’s an issue that has a number of knock-on side-effects which we want to review before we embrace it fully. We tried it earlier this year and it created numerous problems so we backed out of it, to revisit it again later.

That’s all to say that when you do your next PR for the revised

[2015-12-07 21:17] drbyte opened #667 "Add Nginx equivalents to built-in .htaccess files"
While Zen Cart runs fine on Nginx, all the added security protections supplied in .htaccess files for Apache have no effect in Nginx.

TO DO: Write up instructions, or alternate nginx config file(s), to supply similar protections to disallow access to inappropriate folders, and to enable appropriate file-caching headers to various assets to improve performance.

[2015-12-09 08:24] Zen4All opened #668 "warning in install upon changing admin folder (zc1.5.5)"
During the installation of Zen Cart 1.5.5 the admin folder name is automatically renamed from admin to something more obscure. This if good, but then I get the message "We did not change your admin directory automatically as it already seems to have been changed from the default.". This is not true, the installation script changed it for me.
This could confuse some users in thinking something went

[2015-12-09 08:48] Zen4All opened #669 "After initial install Zone is not updated (zc1.5.5)"
When entering the admin of Zen Cart 1.5.5 for the first time the admin is asked to fill in the store information.
In this case I filled in "Netherlands" for country. The zone drop down automatically empties, and can not be selected. All seems fine and I click "Update.
"Then I visit admin => Store, and see my country as "Netherlands", but the zone is still the default "Florida".
![initial_setup_wiz

[2015-12-09 09:47] Zen4All opened #671 "$options_html_id returns empty string (zc 1.5.5)"
in the file "includes\templates\template_default\templates\tpl_modules_attributes.php" on line 30

    <div class="wrapperAttribsOptions" id="<?php echo $options_html_id[$i]; ?>">

$options_html_id is echoed, but it is never set. I suspect that should be done in "includes\modules\attributes.php"

[2015-12-09 10:58] Zen4All commented on #669
Just noticed that in 1.6.0 this results in Zone being set to 0
![wrong_zone_zc160](https://cloud.githubusercontent.com/assets/2766593/11683608/2cf03a66-9e6c-11e5-872d-cb6214a05c08.jpg)

[2015-12-09 17:44] ajeh opened #674 "Clean v16 install issues"
Alert page has link on it

This banner issue may be fixed. Now I cannot reproduce the error so not sure why I got it finishing the install and logging in.
Banner stats
[09-Dec-2015 10:46:45 America/New_York] PHP Warning:  constant(): Couldn't find constant Banner Statistics in /home1/mylinks2/public_html/v16/admin2/includes/functions/admin_access.php on line 678

System Inspection says Guest Check

[2015-12-09 18:46] ajeh commented on #674
Add a widget and get two debug logs. This happens regardless of the widget. Example delete the Counter then add it back.

[2015-12-10 01:16] ajeh opened #675 "GV Queue vs Guest Checkout"
Setting: Upgrade from v155 to v160 with v155 configure.php files
- [x] Guest Settings does not show makes Group 31 in configuration_group but added as Group 26 in configuration
  Tried to change configuration_group to 26 and still does not show
  Guest Checkout using:
  define('BOX_CONFIGURATION_CHECKOUT_SETTINGS', 'Checkout Settings'); //for 1.6.0
  Upgrade sql uses:
  define('BOX_CONFIGURATION_G

[2015-12-10 01:42] ajeh commented on #674
Need to review shipping module add-ons.
UPS does not work:
[09-Dec-2015 20:38:03 America/New_York] PHP Fatal error:  Class 'httpClient' not found in /home1/mylinks2/public_html/v16/includes/modules/shipping/ups.php on line 400

[2015-12-11 10:00] Spike00 opened #677 "Micro code delete"
/includes/classes/db/mysql/query_factory.php

row 476 in v1.5.5 (but it affects all versions, 1.6.0 included)

https://github.com/zencart/zc-v1-series/blob/v160/includes/classes/db/mysql/query_factory.php#L488

`$bindVarTypeArray = explode(':', $bindVarType);`

This is not used, it could be deleted.

[2015-12-11 16:16] lat9 opened #678 "ajax.php: htmlentities recursion breaks authorize.net AIM"
When the htmlentities_recurse functionality is used with a site that also uses a.net/AIM, the checkout process breaks.

The *prepareConfirmation* function of /includes/classes/ajax/zcAjaxPayment.php returns an array that includes htmlentities.  When the updated functionality is introduced in the ajax.php file, all the htmlentities are replaced, which is not expected by the jQuery that issued the p

[2015-12-11 17:04] drbyte commented on #678
I'm assuming this is on v154 that you're seeing this?  or testing on v155.

[2015-12-11 17:05] lat9 commented on #678
Yes, this is on Zen Cart v1.5.4 (sorry for the incomplete description).

[2015-12-11 17:09] drbyte commented on #678
Okay. The published "patch" for ajax.php doesn't contain the recursive part, so I'm guessing you're using the code from v155 at https://github.com/zencart/zc-v1-series/blob/v155/ajax.php ... ?

Just clarifying to be sure we're looking at the same thing you are ;)

[2015-12-11 17:15] lat9 commented on #678
DrByte, what you said is close-to-true; the site's using the slightly-different version from my POSM plugin.  Let me grab the 1.5.5 version just to verify that I'm seeing the same issue.

[2015-12-11 17:24] lat9 commented on #678
Just validated the site in question.  Using the zc155 version of ajax.php, and choosing authorizenet_aim as the payment method, upon entering the credit-card information the checkout-payment page is redisplayed with an HTML "dump" from the prepareConfirmation function's output.

The console log shows a call to doesCollectsCardDataOnsite, returning `{"data":"1"}` and then a call to prepareConfirmat

[2015-12-11 17:33] lat9 commented on #678
It looks like a change is required to /includes/modules/pages/checkout_payment/jscript_main.php to "un-decode" those entities.

[2015-12-11 17:49] lat9 commented on #678
One question that I've not seen the answer to.  This festuch began with a change to correct the logging of `PHP Warning: Invalid UTF-8 sequence in argument in /ajax.php`.  How did this map to a solution that required converting the HTML entities?

[2015-12-11 18:04] zcwilt commented on #678
IIRC This was the original thread
https://www.zen-cart.com/showthread.php?216691-PHP-Warning-Invalid-UTF-8-sequence-in-argument-in-ajax-php-on-line-24

[2015-12-11 18:10] lat9 commented on #678
Wilt, thanks for pulling it together!  That feeds my previous question:  Why use `htmlentities` to correct an invalid utf-8 sequence (aka encoding) issue instead of checking to see if the site's already using UTF-8 encoding and, if not, sending the data (recursively) down a `utf8-encode` processing path?

[2015-12-11 18:26] zcwilt commented on #678
There was also this forum post as well
https://www.zen-cart.com/showthread.php?218140-Got-a-blank-page-during-check-out-payment-with-V154

[2015-12-11 18:36] lat9 commented on #678
Yep, I saw that one too.  Unfortunately, there's not enough information to understand what the root cause of the PHP warning was.  Was the OP's site set up using a `utf-8` CHARSET or not?  What *was* that invalid data?

Given that the json_encode function requires utf8-encoded input to prevent that warning from being issued, what happens when the function's input is now properly encoded ... but on

[2015-12-11 19:02] lat9 commented on #678
I've attached an update to the ajax.php (renamed to .txt so I could attach it) processing that uses utf8_encode to (er) encode the utf8 characters ... **iff** the site's not already using UTF-8 encoding (don't want to double-encode).

I still question, however, how the utf8_encoded data is going to display on a site that's using a non-utf8 encoding.

[ajax.txt](https://github.com/zencart/zc-v1-ser

[2015-12-19 20:13] zcwilt commented on #678
Hi

Sorry for taking a while to get back on this, but there was a bug in v155 authnet that made it difficult to test your changes.

I've incorporated your changes into current v155 code and it looks OK so far.

I guess this speaks to our review/testing process and to us responding in a somewhat knee jerk, to some posts on the internet regarding Black Friday and Zen Cart.

[2015-12-20 13:07] lat9 commented on #678
Thanks, zcwilt, for the update!

[2015-12-28 22:03] drbyte commented on #678
I believe this is now resolved ... so closing. Feel free to re-open if I'm wrong.

[2015-12-28 22:03] #678 closed

[2015-12-28 22:04] drbyte commented on #671
Fixed. https://github.com/zencart/zc-v1-series/commit/e217333bc2d34508b171f978aa9f8835a1aa32da

[2015-12-28 22:05] #671 closed

[2015-12-28 22:07] drbyte commented on #668
Fixed by #687

[2015-12-28 22:07] #668 closed

[2015-12-28 22:26] Zen4All commented on #671
:+1:

[2015-12-28 22:27] Zen4All commented on #671
:+1:

[2015-12-29 16:29] drbyte commented on #669
Fixed via #696

[2015-12-29 16:29] #669 closed

[2015-12-29 21:24] drbyte commented on #625
Done in v1.5.5

[2015-12-29 21:24] #625 closed

[2016-01-06 20:39] ajeh opened #763 "During product deletions (admin) current page is sometimes lost"
https://www.zen-cart.com/showthread.php?219191-go-back-to-1st-page-after-deleting-a-product-in-the-categories-products

[2016-01-06 22:32] bislewl opened #766 "Discussion: Attributes System Improvements"
Ok, I know we have all discussed this and we haven't really made progress on it. And this probably isn't the best place to discuss this. But several people have complained to me about the complexity of the Options/Values/Attributes Controller. One item being the inability to track stock. There are various modules out there that do support stock for attributes, and several people have suggested tha

[2016-01-14 12:57] mc12345678 commented on #312
Old discussion I know... :)

My vote - tokenized (tokenizable) separation.  CamelCase is not "parseable"...  You can't have variations on one or more parts of it without restricting the variable/class/etc.. to a set number of characters...  It's the old database style of record keeping, no variable length information, very rigid, and also seems difficult to electronically search at least if things

[2016-01-21 17:22] mc12345678 opened #794 "status indicator(s) of admin/modules.php for shipping"
Clarification of the "definition" of the various shipping status icons (green, yellow, red) or consistency among various admin screens with similar status indicators is encouraged.

Note to self: Yellow identifies more than one potential condition, installed but not enabled shipping module (non-functional results) or module with zone definitions (functional but limited results).  A similar yellow

[2016-01-22 19:30] lat9 commented on #766
One thing that makes the attributes' entry a PITA is that first you enter the option names `one-by-one`, then the option-values `one-by-one` (re-selecting the option name each time) and *finally* the attributes themselves `one-by-one`.

The option-values entry could be changed to:
1) Select the option name to be updated, click OK
2) Present a full-page entry screen (i.e. you can change / add / rem

[2016-01-22 19:41] lat9 commented on #766
Another "feature" of the current attributes' support is that there's no means for re-use of a collection of attributes.  That can lead to "database bloat" if I've got a collection of products that always use the same attributes.

Say I've got a store that sells T-shirts.  All shirts are available in Sizes of S/M/L/XL and Colors of red/white/blue.  For each-and-every different shirt product in my s

[2016-01-22 19:41] bislewl commented on #766
I was looking at how other carts do it and I think I have a general idea. One of my concerns is if I do a complete overhaul, will that push people away OR will it draw more.
I saw another cart that actually allows you to modify the attributes (including add names/values) right from the product page. And allows you to track stock, it uses ajax, and drag/drop ability to change name/values and their

[2016-01-22 19:54] wiztechinc commented on #766
I consider this to be the biggest drawback with zen cart - especially if you need to track attributes stock. Learning the default system was only large chunk of admin that was very hard to wrap my head around. Now that I know it, I can prep my clients and get them past that hump. But for the do it your selfers out there, I really pity them. With difficulties in getting the attributes stock mod upd

[2016-01-22 20:18] bislewl commented on #766
@lat9 what are your suggestions to avoid the "bloat" at the same time I would like to try and use the current tables, partly for upgrade reasons. So the new interface would need to be more intuitive. That's why I'm thinking Ajax may be a solution. It could utilize some of the same code as, and then just provide a nice interface.

[2016-01-22 20:27] bislewl commented on #766
@wiztechinc I agree, unfortunately I think it's something that turns people off. Do you have any ideas on a layout that you think would be easier for those new to zen-cart? There aren't any carts out there (at least from my research) that actually does it well. It's such a complex thing. For example in @lat9's example you have 12 variants of a single product, add other attributes like long/short s

[2016-01-22 20:31] lat9 commented on #766
@bislewl, in general, I'm thinking that there "must" be a way to associate a products_attributes table record with more than one product.  How that would work, both in presentation to the admin-user and the database "details", is still unclear to me.

[2016-01-22 20:39] wiztechinc commented on #766
Yes, the complexity is the issue. Having it all or as much as possible all on one screen makes it harder so I expect Ajax might be the answer. (though I'm no expert on coding) I haven't used any other program that does this where I needed to dig into this to have any real ideas about alternatives. I have used various incarnations of the stock by attributes mod and it had some easier interfaces at

[2016-01-22 20:43] bislewl commented on #766
@lat9 In a vanilla version there is 6 tables for product attributes, even more for those that track stock. On the front end I think we should also add something like Dynamic Price Updater. That would help complete the circle.

[2016-01-22 20:44] Zen4All commented on #766
Be aware that is Ajax is used, some provision has to be taken for the 15 minute time-out. Otherwise work could get lost, resulting in frustration.
Incorporating a Dynamic Price Updater is a good idea, but the current DPU module has some ancient code in it.

[2016-01-22 20:47] wiztechinc commented on #766
Timing out can be a problem with anything that has massive changes - I have seen that with a mod - probably the dynamic price updater. I would like to see a timer added to the default admin - not just for that kind of thing.

[2016-01-22 20:53] bislewl commented on #766
@Zen4All Yes really some sort of notification that they need to log back in or something would need to be done. To my understanding each Ajax call should reset the 15 min timer correct?

DPU does have some ancient code and in a perfect world, I would spend time, and gut the entire module and then use the new Ajax system in 1.5.4. Any word on that coming into the admin? The need to add an additiona

[2016-01-22 21:03] wiztechinc commented on #766
I haven't tried Shopify (or at least not in years) but I do have to say that I have lost customers to it this past year whereas I rarely have lost clients before who switched out of zen cart.

[2016-01-22 21:13] Zen4All commented on #766
@bislewl I know 1.6.0 has this file zcAjaxHandler.php in the admin folder, so I guess it will be available by default. And If I remember correctly the new style of admin pages in 1.6.0 will also use Ajax

[2016-01-22 21:17] bislewl commented on #766
I haven't looked at 1.6.0 in a couple months, so perhaps I missed that.

[2016-01-22 21:54] drbyte commented on #766
Yes, the session timer will be reset on every ajax request.

[2016-01-23 22:34] mc12345678 opened #800 "attribute controller errors with option names that only have no values - issue #799"
Tested method to letting attributes controller to allow adding attributes to product when the option names assigned do not have (by design) associated values is addressed in issue #799.

If recollection is correct this affects more than ZC 1.5.5.  I believe I have seen others in the past experience this.

Alternate non-coding solution is to add an option name that will accept an option value and t

[2016-01-23 22:36] mc12345678 commented on #800
Correction (unable to edit above at the moment based on accessing platform) file containing new code is includes/functions/functions_lookups.php.

[2016-01-25 01:50] mc12345678 commented on #766
The discussion of moving various screen entries into an "earlier" screen certainly needs "on the spot" database access versus waiting for the data entered to be saved and the next screen loaded.  Something like ajax would address that.  The "reuse" of a selection of attributes for a product would involve another link table between product's attribute assignment and the table(s) containing the attr

[2016-01-26 01:16] zcadditions commented on #575
A well designed responsive template won't need the MobileDetect library, it will scale and manipulate the content correctly with simple CSS media queries.

The MobileDetect library in a sense should be used for tablet and mobile optimization. An example of this could be to completely remove a categories multi-level drop-down menu (html, php, css, javascript and/or jquery) from ever loading on a mo

[2016-01-26 12:12] wiztechinc commented on #575
I completely agree. I just created a quick responsive template that yes, only sets up mobile as phone size but works without ANY changes to the cart core files or additional site checking. What I did gave me way more control over the desktop version without creating more load time for the mobile. I'm sorry I hadn't done this sooner so that I could have presented something to you much earlier on. I

[2016-01-26 14:37] Spike00 commented on #575
I think it's an interesting approach the one from Delia, but why not combine both? The quick responsive template to let desktop go with everything is needed, mobile detection with dedicated template and functionalities for those who want the best possible solution for mobile devices, regarding both functionality and performance and usability. So if MobileDetect should ever not correctly detect a m

[2016-01-26 16:51] wiztechinc commented on #575
Be glad to provide full access to my "stuff". Having it as a backup is not a bad idea.

[2016-01-27 00:22] zcadditions commented on #575
I totally agree that following what's being done everywhere else does not benefit a long term thing like zen cart, the difference is that they are all on the same page but unfortunately all stuck somewhere in the first paragraph.

Now on top of zen carts "stock" side-boxes which are all "hidden" but still loaded 2 additional side-boxes are be loaded with the same exact information. This is what I